<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Sobre</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form>
				<p:panel header="Sobre o Sistema e a MKL Developers">
					<br />
					<h:outputText
						style="font-size: 20px; font-family:Segoe UI; font-weight:bold"
						value="FlatSystem 2.0" />
					<br />
					<h:panelGrid columns="2" cellpadding="5">

						<p:graphicImage library="imagens" name="logo_flat_system.png" />
						<h:outputText style="font-size: 15px; font-family:Segoe UI"
							value="Sistema especialmente desenvolvido para tornar a gestão de hotéis e pousadas eficiente, ágil e transparente.
				                	Utilizando de processos bem elaborados e relatórios precisos, o FlatSystem torna-se uma ferramenta
				                	poderosa para na gestão de sua empresa." />
					</h:panelGrid>
					<center>
						<h:outputText
							style="font-size: 20px; font-family:Segoe UI; font-weight:bold"
							value="MKL Developers" />
					</center>
					<h:panelGrid columns="2" cellpadding="5">

						<p:graphicImage library="imagens" name="logo_mkldev.png" />
						<h:outputText style="font-size: 15px; font-family:Segoe UI"
							value="MKL Develores é uma empresa de desenvolvimento de software e consultoria de TI oriunda de Juazeiro do Norte - CE. 
								  O nome provém das iniciais do nome dos fundadores, três grandes amigos que um dia sonharam em fazer com que o seu 
								  trabalho pudesse simplificar o dia-dia de empresas, instituições e pessoas normais. 
								  Nossa missão é facilitar o dia-a-dia dos nossos clientes com o desenvolvimento de soluções com qualidade." />
					</h:panelGrid>
					<center>
						<h:panelGrid columns="2" cellpadding="5">
							<h:outputText style="font-size: 15px; font-family:Segoe UI"
								value="Visite nosso site: " />
							<h:outputLink value="http://www.mkldev.com.br" target="_blank">
								<h:outputText style="font-size: 15px; font-family:Segoe UI"
									value="www.mkldev.com.br" />
							</h:outputLink>
							<h:outputText style="font-size: 15px; font-family:Segoe UI"
								value="Área de suporte: " />
							<h:outputLink value="http://mkldev.com.br/index.php/suporte/forum" target="_blank">
								<h:outputText style="font-size: 15px; font-family:Segoe UI"
									value="Clique Aqui"/>
							</h:outputLink>
						</h:panelGrid><br/>
						<h:outputText
							style="font-size: 14px; font-family:Segoe UI"
							value="MKL Developers ® Todos os direitos reservados" />
					</center>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:decorate>
</h:body>
</html>