<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:stella="http://stella.caelum.com.br/faces2">

<h:head>
	<title>iPousada - Controle de Pousada</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form id="cadastro_hospedagem" acceptcharset="ISO-8859-1">
				<p:focus context="cadastro_hospedagem"/>
				<p:messages id="messages" showSummary="false" showDetail="true" autoUpdate="true"
					closable="true" />
				<p:panel header="Cadastro de Hospedagem">
					<h:panelGrid columns="1" border="0">

						<h:panelGrid columns="2">
							<p:outputLabel for="nome_hospede" value="Hospede: "
								style="align: center" />
							<p />

							<p:inputText id="nome_hospede"
								value="#{hospedagemBean.hospedagem.cliente.nome}"
								readonly="true" style="width: 400px" required="true" />
							<p:commandButton id="btnPesquisaCli" ajax="true" action="#{clienteBean.limpar}"
								onclick="PF('lstCliente').show()" icon="pesquisa" immediate="true"/>
						</h:panelGrid>


						<h:panelGrid columns="2">
							<p:outputLabel for="suite" value="Suíte: " />
							<p:outputLabel for="numAcompanhantes" value="Acomp.: " />

							<p:selectOneMenu id="suite" style="width: 320px"
								value="#{hospedagemBean.apartamentoSelecionado}" required="true" requiredMessage="Necessário escolher um apartamento!">
								<f:selectItems value="#{hospedagemBean.listaApartamentos}" />
							</p:selectOneMenu>
							<p:inputMask id="numAcompanhantes" style="width: 105px"
								value="#{hospedagemBean.hospedagem.acompanhantes}" />
						</h:panelGrid>
						
						
						<h:panelGrid columns="2">
							<p:outputLabel for="tipo" value="Tipo: " />
							<p></p>

							<p:selectOneMenu id="tipo" style="width: 320px"
								value="#{hospedagemBean.hospedagem.tipo}">
								<f:selectItem itemLabel="Pré-Reserva" itemValue="P" />
								<f:selectItem itemLabel="Reserva" itemValue="R" />
								<f:selectItem itemLabel="Hospedagem" itemValue="H" />
							</p:selectOneMenu>
						</h:panelGrid>
						
						<h:panelGrid columns="2" cellpadding="4">

							<p:outputLabel for="previsaoCheckin" value="Previsão Checkin: " />
							<p:outputLabel for="horaCheckin"
								value="Hora Checkin:   " />
								
							<p:calendar pattern="dd/MM/yyyy" locale="pt_BR" showOn="button" 
								value="#{hospedagemBean.hospedagem.dataPrevCheckin}"
								navigator="true" id="previsaoCheckin" showButtonPanel="true"
								pages="3" required="true" requiredMessage="Escolha a data de Checkin"/>
						
							<p:calendar 
								pattern="HH:mm" showOn="button" timeOnly="true" locale="pt_BR"
								value="#{hospedagemBean.hospedagem.horaCheckin}" showButtonPanel="true"
								id="horaCheckin" navigator="false" required="true" requiredMessage="Escolha a hora de Checkin"/>
								
								
							<p:outputLabel for="previsaoCheckout"
								value="Previsão Checkout:    " />
							<p:outputLabel for="horaCheckout"
								value="Hora Checkout:    " />
								
							<p:calendar showButtonPanel="true" showOn="button"
								pattern="dd/MM/yyyy" locale="pt_BR"  style="margin-right: 30px"
								value="#{hospedagemBean.hospedagem.dataPrevCheckout}"
								navigator="true" id="previsaoCheckout" pages="3" required="true" requiredMessage="Escolha a data de Checkout"/>
							
							<p:calendar 
								pattern="HH:mm" showOn="button" timeOnly="true" locale="pt_BR" 
								value="#{hospedagemBean.hospedagem.horaCheckout}"
								id="horaCheckout" showButtonPanel="true" required="true" requiredMessage="Escolha a hora de Checkout"/>
								
							<p:outputLabel for="valorTotal" value="Valor Diária: " />
							<p></p>
							<p></p>
							<p:inputText id="valorTotal"
								value="#{hospedagemBean.hospedagem.valor}" required="true"  requiredMessage="Informe um valor para diária."/>


						</h:panelGrid>

						<p:separator id="separator1" />
							<h:panelGrid columns="2" cellspacing="4" cellpadding="2">
								<p:outputLabel for="ultimaProcedencia" value="Última Procedência:    " />
								<p:outputLabel for="proxDestino" value="Próximo Destino:    " />
								
								<p:inputText id="ultimaProcedencia" style="margin-right: 50px; width: 180px"
								value="#{hospedagemBean.hospedagem.ultimaProcedencia}" />
								<p:inputText id="proxDestino" style="width: 180px;"
								value="#{hospedagemBean.hospedagem.proxDestino}"/>
								
								
								<p:outputLabel for="motivoViagem" value="Motivo da Viajem: " />
								<p:outputLabel for="meioTransporte" value="Meio de Transporte: " />
								
								<p:selectOneRadio id="motivoViagem" value="#{hospedagemBean.hospedagem.motivoViagem}" layout="grid" columns="2">
									<f:selectItem itemLabel="Turismo" itemValue="7" />
									<f:selectItem itemLabel="Negócios" itemValue="9" />
									<f:selectItem itemLabel="Convenção" itemValue="2" />
									<f:selectItem itemLabel="Outro" itemValue="4" />
								</p:selectOneRadio>
								

								<p:selectOneRadio id="meioTransporte" value="#{hospedagemBean.hospedagem.meioTransporte}" layout="grid" columns="2">
									<f:selectItem itemLabel="Avião" itemValue="6" />
									<f:selectItem itemLabel="Navio" itemValue="8" />
									<f:selectItem itemLabel="Automóveis" itemValue="0" />
									<f:selectItem itemLabel="Ônibus/Trem" itemValue="4" />
								</p:selectOneRadio>
								
							</h:panelGrid>
						<p:separator id="separator2" />
						
						<p:accordionPanel activeIndex="1" id="acTransacao">
							<p:tab id="tabTransacao" title="Adiantamento" >
								<h:panelGrid columns="3">
								<p:outputLabel for="transacao" value="Transação: " />
								<p:inputText id="transacao" readonly="true" style="width: 210px"
									value="#{hospedagemBean.lancamento.transacao.descricao}"
									/>
								<p:commandButton id="btTransacao" immediate="true" ajax="true"
									oncomplete="PF('ListTransPesquiDialog').show()" icon="pesquisa" />
	
								<p:outputLabel for="formaPagamento" value="Forma Pagamento: " />
								<p:inputText id="formaPagamento" readonly="true" style="width: 210px"
									value="#{hospedagemBean.lancamento.formaPagamento.descricao}"
									/>
								<p:commandButton id="btFormaPagamento" immediate="true"
									oncomplete="PF('ListFormaPagPesquiDialog').show()" icon="pesquisa" />
	
								<p:outputLabel for="data" value="Previsão de Pagamento: "/>
								<p:calendar locale="pt_BR" showButtonPanel="true" 
									pattern="dd/MM/yyyy" showOn="button"
									value="#{hospedagemBean.lancamento.data}" effect="drop"
									navigator="true" id="data" />
								<p />
								
								<p:outputLabel for="valor" value="Valor Adiantamento: " />
								<p:inputText id="valor"
									value="#{hospedagemBean.lancamento.valor}" />
								<p />
	
								
	
								<p:outputLabel for="confirmado" value="Pago: " />
								<p:selectOneRadio id="confirmado"
									value="#{hospedagemBean.lancamento.confirmado}">
									<f:selectItem itemLabel="Sim" itemValue="true" />
									<f:selectItem itemLabel="Não" itemValue="false" />
								</p:selectOneRadio>
	
							</h:panelGrid>
								<p />
							</p:tab>
						</p:accordionPanel>
					</h:panelGrid>

					<h:panelGrid columns="1">
						<p:outputLabel for="observacoes" value="Observações: " />
						<p:inputTextarea id="observacoes" rows="5" style="width: 450px"
							maxlength="2000" counterTemplate="{0} characters remaining."
							autoResize="false"
							value="#{hospedagemBean.hospedagem.observacoes}" />
							
						<p></p>
						<p:outputLabel value="OBS: Campos com '*' são obrigatórios o seu preechimento!" />
					</h:panelGrid>
					
					<f:facet name="footer">
						<p:toolbar id="tb">
							<p:toolbarGroup align="center">
								<center>
									<p:commandButton value="Salvar" ajax="false"
										action="#{hospedagemBean.salvar}" icon="ui-icon-disk"
										update="cadastro_hospedagem" />
									<p:separator />
									<p:commandButton value="Cancelar" ajax="false" immediate="true"
										autoupdate="true" icon="ui-icon-trash"
										update="cadastro_hospedagem"
										action="#{hospedagemBean.cancelar}" />
								</center>
							</p:toolbarGroup>
						</p:toolbar>
						<p:sticky target="tb" />
					</f:facet>
				</p:panel>

				</h:form>
		
				<!-- Dialog Cliente -->
				<h:form id="frmCliente">
					<p:dialog id="dlCliente" header="Controle Clientes" 
						widgetVar="lstCliente" resizable="false" width="750"
						draggable="false" position="center">
						<div style="text-align: left;">
							<p:commandButton value="Novo" 
							                 ajax="true" onclick="PF('lstCliente').hide()" action="#{clienteBean.novoClienteHospedagem}"
								             oncomplete="PF('cadCliente').show()" immediate="true">
							</p:commandButton>
						</div>
						<p:dataTable value="#{clienteBean.lista}" var="cliente"
							widgetVar="clienteTable" id="listaClientesdialog" filteredValue="#{clienteBean.lista}"
							emptyMessage="Nenhum registro encontrado" paginator="true"
							rows="5" rowIndexVar="rowIx"
							rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
							<p:column headerText="Nome" filterBy="nome"
								filterMatchMode="contains">
								<h:outputText value="#{cliente.nome}" />
							</p:column>
							<p:column headerText="Rg" filterBy="rg" filterMatchMode="contains">
								<h:outputText value="#{cliente.rg}" title="#{cliente.rg}" />
							</p:column>
							<p:column headerText="Cpf" filterBy="cpf"
								filterMatchMode="contains">
								<h:outputText value="#{cliente.cpf}" />
							</p:column>
							<p:column headerText="Opções">
								<center>
									<p:commandButton value="Selecionar" oncomplete="PF('lstCliente').hide()" 
												     update=":cadastro_hospedagem:nome_hospede">
										<f:setPropertyActionListener
											target="#{hospedagemBean.hospedagem.cliente}"
											value="#{cliente}" />
									</p:commandButton>
									<p:commandButton onclick="PF('lstCliente').hide()"
												     oncomplete="PF('cadCliente').show()" 
												     update=":dlgCadCliente" icon="pesquisa">
										<f:setPropertyActionListener
											target="#{clienteBean.cliente}"
											value="#{cliente}" />
									</p:commandButton>
								</center>
							</p:column>
						</p:dataTable>
					</p:dialog>
				</h:form>
				
				<h:form id="dlgCadCliente">
					<p:dialog id="dlcadCliente" header="Cadastro Clientes"
						widgetVar="cadCliente" resizable="false" width="800"
						draggable="false" position="center">					 
			    		<p:messages id="messages" showDetail="false" autoUpdate="true" closable="true" />
				        	<h:panelGrid columns="4" cellspacing="4" cellpadding="2">   
				    			<p:outputLabel for="nome" value="Nome: "/>
				    			<p:inputText id="nome" value="#{clienteBean.cliente.nome}" required="true" size="50"/>
				    			<p:outputLabel for="rg"  value="Rg: "/>
				    			<p:inputText id="rg" value="#{clienteBean.cliente.rg}"/>
				    			<p:outputLabel for="cpf" value="CPF: "/>
				    			<p:inputMask id="cpf" value="#{clienteBean.cliente.cpf}" mask="999.999.999-99" maxlength="15">
				    				<stella:validateCPF formatted="true"/>
				    				<p:ajax listener="#{clienteBean.verificaCPF}" event="blur" update=":dlgCadCliente:messages"/>
				    			</p:inputMask>
				    			<p:outputLabel  for="dataNascimento" value="Data Nascimento: "/>
				    			<p:calendar yearRange="c-50:c+50" locale="pt_BR" showOn="button" showButtonPanel="true" 
											value="#{clienteBean.cliente.dataNascimento}" effect="drop" 
											navigator="true" id="dataNascimento" pages="3"/>	
				    			<p:outputLabel for="email" value="Email: "/>
				    			<p:inputText type="email" id="email" value="#{clienteBean.cliente.email}" size="50"/>
				    			<p:outputLabel for="telefone" value="Telefone: "/>
				    			<p:inputMask id="telefone" value="#{clienteBean.cliente.telefone}" mask="(99) 9999-9999"/>
				    			<p:outputLabel for="celular" value="Celular: "/>
				    			<p:inputMask id="celular" value="#{clienteBean.cliente.celular}" mask="(99) 9999-9999"/>
				    			
				    			<p:outputLabel for="empresa" value="Empresa: "/>
				    			<p:inputText id="empresa" value="#{clienteBean.cliente.empresa}"/>
				    			<p:outputLabel for="profissao" value="Profissão: "/>
				    			<p:inputText id="profissao" value="#{clienteBean.cliente.profissao}"/>
				    			<p:outputLabel for="nacionalidade" value="Nacionalidade: "/>
				    			<p:inputText id="nacionalidade" value="#{clienteBean.cliente.nacionalidade}"/>
			
								<p:outputLabel for="sexo" value="Sexo: " />
								<p:selectOneRadio id="sexo" value="#{clienteBean.cliente.sexo}">
									<f:selectItem itemLabel="Masculino" itemValue="M" />
									<f:selectItem itemLabel="Feminino" itemValue="F" />
								</p:selectOneRadio>
			
							</h:panelGrid>   
				        	<p:accordionPanel>
									<p:tab title="Endereço">
										<h:panelGrid columns="4" cellpadding="10">
											<p:outputLabel for="endereco" value="Endereco: "/>
				    						<p:inputText id="endereco" value="#{clienteBean.cliente.endereco}" size="50"/>
				    						<p:outputLabel for="numero" value="Número: "/>
							    			<p:inputText id="numero" value="#{clienteBean.cliente.numero}"/>
							    			<p:outputLabel for="cidade" value="Cidade: "/>
							    			<p:inputText id="cidade" value="#{clienteBean.cliente.cidade}" size="50"/>
							    			<p:outputLabel for="bairro" value="Bairro: "/>
							    			<p:inputText id="bairro" value="#{clienteBean.cliente.bairro}"/>
							    			<p:outputLabel for="cep" value="CEP: "/>
							    			<p:inputMask id="cep" value="#{clienteBean.cliente.cep}" mask="99999-999"/>
							    			<p:outputLabel for="uf" value="UF: "/>
							    			<p:inputMask id="uf" value="#{clienteBean.cliente.uf}" maxlength="2"  size="2"/>
							    			<p:outputLabel for="pais" value="País: "/>
							    			<p:inputText id="pais" value="#{clienteBean.cliente.pais}"/>
							    			
									</h:panelGrid>
										<p />
									</p:tab>
							</p:accordionPanel>
				        	<f:facet name="footer">
									<p:toolbar id="tb">
										<p:toolbarGroup align="center">
											<center>
												<p:commandButton value="Salvar" icon="ui-icon-disk"
													update=":cadastro_hospedagem:nome_hospede, :frmCliente:listaClientesdialog"
													actionListener="#{hospedagemBean.insereCliente}">
													<f:setPropertyActionListener
														target="#{hospedagemBean.cliente}"
														value="#{clienteBean.cliente}" />
												</p:commandButton>
												<p:separator />
												<p:commandButton value="Cancelar" ajax="true"
													icon="ui-icon-trash" action="#{hospedagemBean.novoCliente()}"
													onclick="PF('cadCliente').hide()" 
													oncomplete="PF('dlCliente').show()"
													immediate="true"/>
											</center>
										</p:toolbarGroup>
									</p:toolbar>
									<p:sticky target="tb" />
								</f:facet>       	
								
					</p:dialog>
				</h:form>

				<h:form id="frmTransacao">
					<p:dialog id="TransacaoPesquisa" header="Pesquisa de Transações"
						widgetVar="ListTransPesquiDialog" resizable="false" width="750"
						draggable="false">
						
						<p:dataTable value="#{transacaoBean.lista}" var="transacao"
							widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx"
							rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15"
							emptyMessage="Nenhum registro encontrado">
							<p:column headerText="Código" filterBy="id"
								filterMatchMode="contains">
								<h:outputText value="#{transacao.id}" />
							</p:column>
							<p:column headerText="Descricao" filterBy="descricao"
								filterMatchMode="contains">
								<h:outputText value="#{transacao.descricao}" />
							</p:column>
							<p:column headerText="Tipo" filterBy="tipo"
								filterMatchMode="contains">
								<h:outputText value="#{transacao.tipo}" />
							</p:column>
							<p:column headerText="Opções">
								<center>
									<p:commandButton id="btTransacao" value="Selecionar" update=":cadastro_hospedagem:acTransacao:transacao"
													 onclick="PF('ListTransPesquiDialog').hide()">
										<f:setPropertyActionListener
											target="#{hospedagemBean.lancamento.transacao}"
											value="#{transacao}" />
									</p:commandButton>
	
								</center>
							</p:column>
						</p:dataTable>
					</p:dialog>
				</h:form>
				
				<h:form id="frmPagamento">
					<p:dialog id="FormaPagamentoPesqui"
						header="Pesquisa de Formas de Pagamento"
						widgetVar="ListFormaPagPesquiDialog" resizable="false" width="750"
						draggable="false">
						
						<p:dataTable value="#{formas_PagamentoBean.lista}"
							var="formas_pagamento" widgetVar="widg" paginator="true" rows="10"
							rowIndexVar="rowIx"
							rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,15"
							emptyMessage="Nenhum Registro Encontrado!">
	
							<p:column headerText="Código" filterBy="id"
								filterMatchMode="contains">
								<center>
									<h:outputText value="#{formas_pagamento.id}" />
								</center>
							</p:column>
							<p:column headerText="Descrição" filterBy="descricao"
								filterMatchMode="contains" filterStyle="width: 200px">
								<center>
									<h:outputText value="#{formas_pagamento.descricao}" />
								</center>
							</p:column>
							<p:column headerText="opções">
								<center>
									<p:commandButton value="Selecionar" update=":cadastro_hospedagem:acTransacao:formaPagamento"
													 onclick="PF('ListFormaPagPesquiDialog').hide()">
										<f:setPropertyActionListener
											target="#{hospedagemBean.lancamento.formaPagamento}"
											value="#{formas_pagamento}" />
									</p:commandButton>
								</center>
							</p:column>
						</p:dataTable>
					</p:dialog>
				</h:form>	
		</ui:define>
	</ui:decorate>
</h:body>
</html>