<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Controle de Pousada</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">
			<h:form id="cadastro_formas_pagamento" acceptcharset="ISO-8859-1">
				<p:focus context="cadastro_formas_pagamento"/>
				<p:messages showDetail="true" showSummary="false" closable="true"></p:messages>
				<p:panel header="Cadastro de Formas de Pagamento">
					<h:panelGrid columns="2">
						<p:outputLabel for="descricao" value="Descrição : " />
						<p:inputText id="descricao" size="80" required="true" requiredMessage="Atenção! Campo descrição Obrigatório!"
							value="#{formas_PagamentoBean.formas_Pagamento.descricao}" />
					</h:panelGrid>
					<f:facet name="footer">
						<p:toolbar id="tb">
							<p:toolbarGroup align="center">
								<center>
									<p:commandButton value="Salvar" icon="ui-icon-disk"
										ajax="false" action="#{formas_PagamentoBean.salvar}"
										update="cadastro_formas_pagamento" />
									<p:separator />
									<p:commandButton value="Cancelar" icon="ui-icon-trash"
										ajax="false" action="#{formas_PagamentoBean.cancelar}"
										update="cadastro_formas_pagamento" />
								</center>
							</p:toolbarGroup>
						</p:toolbar>
						<p:sticky target="tb" />
					</f:facet>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:decorate>
</h:body>
</html>