<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Controle de Pousada</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">
			<h:form id="cadastro_tipo_apartamento" acceptcharset="ISO-8859-1">
				<p:focus context="cadastro_tipo_apartamento"/>
				<p:panel header="Cadastro de Tipos de Apartamento">
					<h:panelGrid columns="2">
						<p:outputLabel for="descricao" value="Tipo de Suíte: " />
						<p:inputText id="descricao"	required="true" value="#{tipoApartamentoBean.tipo_apartamento.descricao}"/>
					</h:panelGrid>
					<f:facet name="footer">
						<p:toolbar id="tb">
							<p:toolbarGroup align="center">
								<center>
									<p:commandButton value="Salvar" ajax="false"
										icon="ui-icon-disk" action="#{tipoApartamentoBean.salvar}"
										update="cadastro_apartamento" />
									<p:separator />
									<p:commandButton value="Cancelar" ajax="false"
										icon="ui-icon-trash" action="#{tipoApartamentoBean.cancelar}"
										update="cadastro_apartamento" immediate="true" autoupdate="true"/>
								</center>
							</p:toolbarGroup>
						</p:toolbar>
						<p:sticky target="tb" />
					</f:facet>
				</p:panel>
			</h:form>			
		</ui:define>
	</ui:decorate>
</h:body>
</html>