<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags"
	xmlns:stella="http://stella.caelum.com.br/faces2">

<h:head>
	<title>Controle de Pousada - Novo Fornecedor</title>
</h:head>
<h:body>

	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form id="form2" acceptcharset="ISO-8859-1">
				<p:focus context="form2"/>
				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="true" />
				<p:panel header="Cadastro de Fornecedor">
					<h:panelGrid columns="2">
						<p:outputLabel for="razao" value="Razão Social: " />
						<p:inputText id="razao" size="50"
							value="#{fornecedorBean.fornecedor.razaoSocial}" />
						<p:outputLabel for="fantasia" value="Fantasia: " />
						<p:inputText id="fantasia" size="50"
							value="#{fornecedorBean.fornecedor.fantasia}" />
						<p:outputLabel for="cnpj" value="CNPJ: " />
						<p:inputMask id="cnpj" value="#{fornecedorBean.fornecedor.cnpj}"
							mask="99.999.999/9999-99" >
							<stella:validateCNPJ formatted="true"/>
						</p:inputMask>
						<p:outputLabel for="inscricao" value="Escrição Estadual: " />
						<p:inputMask id="inscricao"
							value="#{fornecedorBean.fornecedor.inscricaoEstadual}"
							mask="99.999999-9" />
						<p:outputLabel for="telefone" value="Telefone: " />
						<p:inputMask id="telefone"
							value="#{fornecedorBean.fornecedor.telefone}"
							mask="(99) 9999-9999" />
						<p:outputLabel for="email" value="E-mail: " />
						<p:inputText id="email" value="#{fornecedorBean.fornecedor.email}" />
					</h:panelGrid>
					<p:accordionPanel>
						<p:tab title="Endereço">
							<h:panelGrid columns="4" cellpadding="10">
								<p:outputLabel value="Rua: " />
								<p:inputText id="rua"
									value="#{fornecedorBean.fornecedor.endereco.rua}" />
								<p:outputLabel value="Número: " />
								<p:inputText id="numero"
									value="#{fornecedorBean.fornecedor.endereco.numero}" />
								<p:outputLabel value="Bairro: " />
								<p:inputText
									value="#{fornecedorBean.fornecedor.endereco.bairro}" />
								<p:outputLabel value="Complemento: " />
								<p:inputText
									value="#{fornecedorBean.fornecedor.endereco.complemento}" />
								<p:outputLabel value="CEP: " />
								<p:inputMask value="#{fornecedorBean.fornecedor.endereco.cep}"
									mask="99999-999" />
								<p:outputLabel value="Cidade: " />
								<p:inputText id="cidade"
									value="#{fornecedorBean.fornecedor.endereco.cidade}" />
								<p:outputLabel value="UF: " />
								<p:inputText value="#{fornecedorBean.fornecedor.endereco.uf}"
									size="2" maxlength="2" />
							</h:panelGrid>
							<p />
						</p:tab>
					</p:accordionPanel>
					<f:facet name="footer">
						<p:toolbar id="tb">
							<p:toolbarGroup align="center">
								<center>
									<p:commandButton value="Salvar" icon="ui-icon-disk"
										ajax="false" action="#{fornecedorBean.salvar}" update="form2" />
									<p:separator />
									<p:commandButton value="Cancelar" icon="ui-icon-trash"
										ajax="false" action="#{fornecedorBean.cancelar}"
										update="form2" immediate="true" autoupdate="true"/>
								</center>
							</p:toolbarGroup>
						</p:toolbar>
						<p:sticky target="tb" />
					</f:facet>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:decorate>

</h:body>

</html>