<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Controle de Pousada</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">
			<h:form id="cadastro_transacao" acceptcharset="ISO-8859-1">
				<p:focus context="cadastro_transacao"/>
				<p:messages showSummary="false" showDetail="true" closable="true"></p:messages>
				<p:panel header="Cadastro de Transacao">
					<h:panelGrid columns="2">
						<p:outputLabel for="descricao" value="Descrição : " />
						<p:inputText id="descricao" size="80" required="true" requiredMessage="Atenção! Campo Descrição é Obrigatório"
							value="#{transacaoBean.transacao.descricao}" />
						
						<p:outputLabel for="transacao" value="Tipo de Transação : "   />	
						<p:selectOneMenu id="transacao" value="#{transacaoBean.transacao.tipo}" style="width: 200px">
						  <f:selectItems value="#{transacaoBean.genderValues}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<f:facet name="footer">
						<p:toolbar id="tb">
							<p:toolbarGroup align="center">
								<center>
									<p:commandButton value="Salvar" icon="ui-icon-disk"
										ajax="false" action="#{transacaoBean.salvar}"
										update="cadastro_transacao" />
									<p:separator />
									<p:commandButton value="Cancelar" icon="ui-icon-trash" 
										ajax="false" action="#{transacaoBean.cancelar}"
										immediate="true" update="cadastro_transacao" />
								</center>
							</p:toolbarGroup>
						</p:toolbar>
						<p:sticky target="tb" />
					</f:facet>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:decorate>
</h:body>
</html>