<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle Pousada</title>
</h:head>
<body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form id="venda" acceptcharset="ISO-8859-1">
				<p:focus context="venda"/>
				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="true" />
				<p:panel header="Venda">
					<h:panelGrid columns="3">						
						<p:outputLabel for="hospedagem" value="Hospedagem :" />
						<p:inputText id="hospedagem" value="#{vendaBean.venda.hospedagem.apartamentoReservado}" readonly="true" />
						<p:commandButton id="btnPesquisaHosp" oncomplete="PF('lstHospedagem').show()" icon="pesquisa" />
					</h:panelGrid>
					<p></p>
					<p:accordionPanel>
						<p:tab title="Itens">
							<h:panelGrid columns="6">
								<p:outputLabel for="prod" value="Produto :" />
								<p:inputText id="prod" value="#{vendaBean.produto.descricao}" readonly="true"/>
								<p:commandButton id="btnPesquisaPro" oncomplete="PF('lstProduto').show()" icon="pesquisa" />
								<p:outputLabel for="quantidade" value="Quantidade :" />
								<p:inputText id="quantidade" value="#{vendaBean.quantidade}" size="12"/>
								<p:commandButton id="btnAdd" action="#{vendaBean.add}"
									value="Add" ajax="false" />
							</h:panelGrid>

							<p:dataTable value="#{vendaBean.venda.itensMovimento}" var="item"
								widgetVar="widg" paginator="true" rows="10"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15"
								emptyMessage="Nenhum item adicionado">
								<p:column headerText="Código">
									<h:outputText value="#{item.produto.id}" />
								</p:column>
								<p:column headerText="Descrição">
									<h:outputText value="#{item.produto.descricao}" />
								</p:column>
								<p:column headerText="Preço">
									<h:outputText value="#{item.produto.preco}" />
								</p:column>
								<p:column headerText="Quantidade">
									<h:outputText value="#{item.quantidade}" />
								</p:column>
								<p:column headerText="Opções">
									<center>
										<sec:ifAnyGranted roles="ROLE_ADMIN">
											<h:commandLink action="#{vendaBean.removerItem}"
												onclick="if (!confirm('Confirma a exclusão do item?')) return false;"
												title="Excluir Produto">
												<h:graphicImage library="imagens" name="excluir16.png"
													style="border:0" />
												<f:setPropertyActionListener target="#{vendaBean.item}"
													value="#{item}" />
											</h:commandLink>
										</sec:ifAnyGranted>
									</center>
								</p:column>
							</p:dataTable>
						</p:tab>
					</p:accordionPanel>
					<f:facet name="footer">
						<p:toolbar id="tb">
							<p:toolbarGroup align="center">
								<center>
									<p:commandButton value="Salvar" icon="ui-icon-disk"
										ajax="false" action="#{vendaBean.salvar}" update="form2" />
									<p:separator />
									<p:commandButton value="Cancelar" icon="ui-icon-trash"
										ajax="false" action="#{hospedagemBean.cancelar}" update="venda" />
								</center>
							</p:toolbarGroup>
						</p:toolbar>
						<p:sticky target="tb" />
					</f:facet>
				</p:panel>
				
				<!-- Hospedagem -->
				<p:dialog id="dlHospedagem" header="Selecione uma Hospedagem"
					widgetVar="lstHospedagem" resizable="false" width="1020"
					showEffect="clip" hideEffect="fold">
					
					<p:dataTable value="#{vendaBean.listaHospedagensAbertas}" id="tblHospedagens" 
						var="hospedagem" widgetVar="tblHos" filteredValue="#{vendaBean.listaHospedagensAbertas}"
						paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum registro encontrado">

						<p:column headerText="Código" filterBy="id" filterMatchMode="contains">
							<center>
								<h:outputText value="#{hospedagem.id}" />
							</center>
						</p:column>
						<p:column headerText="Cliente" filterBy="nomeCliente" filterMatchMode="contains">
							<center>
								<h:outputText value="#{hospedagem.nomeCliente}" />
							</center>
						</p:column>
						<p:column headerText="Apartamento" filterBy="apartamentoReservado" filterMatchMode="contains">
							<center>
								<h:outputText value="#{hospedagem.apartamentoReservado}" />
							</center>
						</p:column>	
						<p:column headerText="Opções">
							<center>
								<p:commandButton 
									value="Selecionar" ajax="false">
									<f:setPropertyActionListener
										target="#{vendaBean.venda.hospedagem}" value="#{hospedagem}" />
								</p:commandButton>
							</center>
						</p:column>
					</p:dataTable>
				</p:dialog>
				
				<!-- Dialog Produtos -->
				<p:dialog id="dlProduto" header="Selecione um Produto"
					widgetVar="lstProduto" resizable="false" width="1020"
					showEffect="clip" hideEffect="fold">
					
					<p:dataTable value="#{produtoBean.lista}" var="produto" filteredValue="#{produtoBean.lista}"
						widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum registro encontrado">
						<p:column headerText="Código" filterBy="id" filterMatchMode="contains">
							<center>
								<h:outputText value="#{produto.id}" />
							</center>
						</p:column>
						<p:column headerText="Descrição" filterBy="descricao" filterMatchMode="contains">
							<center>
								<h:outputText value="#{produto.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Preço" filterBy="preco" filterMatchMode="contains">
							<center>
								<h:outputText value="#{produto.preco}" title="#{produto.preco}" />
							</center>
						</p:column>
						<p:column headerText="Opções">
							<center>
								<p:commandButton
									value="Selecionar" ajax="false">
									<f:setPropertyActionListener
										target="#{vendaBean.produto}" value="#{produto}" />
								</p:commandButton>
							</center>			
						</p:column>
					</p:dataTable>
					
				</p:dialog>
			</h:form>
		</ui:define>
	</ui:decorate>
</body>
</html>
