<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Caixa</title>
	<f:facet name="last">
		<h:outputStylesheet library="css" name="tables.css" />
	</f:facet>
</h:head>
<body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form id="form_caixa">
				<p:growl id="messages" showDetail="true" sticky="false" autoUpdate="true" life="3000" />
				<p:panel header="Caixa" style="height :100%">


					<div style="float: right; z-index: 100; margin-right: 2%;">
						<p:menuButton value="Opções">
							<p:menuitem type="button" value="Abrir"
								disabled="#{caixaBean.temCaixaAberto()}" icon="ui-icon-document"
								onclick="PF('abrirCaixa').show()" />
							<p:menuitem value="Fechar" icon="ui-icon-folder-open"
								disabled="#{!caixaBean.temCaixaAberto()}"
								onclick="PF('confirmaCaixa').show()">
							</p:menuitem>
							<p:separator />
							<p:menuitem value="Sangria" icon="ui-icon-minus"
								onclick="PF('dlgSangria').show()" />
							<p:menuitem value="Suprimento" icon="ui-icon-plus"
								onclick="PF('dlgSuprimento').show()" />
						</p:menuButton>
					</div>

					<div style="margin-top: 50px;">


						<div id="left_caixa"
							style="width: 47%; float: left; margin-left: 2%;">
							<p:panel header="Lançamentos Por Transação">
								<p:dataTable value="#{caixaBean.lancamentoTransacoes}" 
									var="lancamento" widgetVar="tblTransacoes" paginator="true" rows="5"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									filteredValue="#{caixaBean.lancamentoTransacoes}"
									emptyMessage="Nenhum Registro Encontrado!">
								
									<p:column headerText="Descrição">
										<center>
											<h:outputText value="#{lancamento.transacao.descricao}" />
										</center>
									</p:column>
									<p:column headerText="Total">
										<center>
											<h:outputText value="#{lancamento.valor}" />
										</center>
									</p:column>
									<p:column headerText="Opções">
										<center>
											<p:commandButton title="Detalhes" update=":form:display, :form:lancamentosPorTransacao" 
												action="#{caixaBean.autalizaListaLancamentoTransaoes()}"
												oncomplete="PF('dlgLancamentosPorTransacao').show()"
												icon="ui-icon-search">
												<f:setPropertyActionListener
													target="#{caixaBean.lancamentoSelecionado}"
													value="#{lancamento}" />
												<f:setPropertyActionListener
													target="#{caixaBean.transacao}"
													value="#{lancamento.transacao}" />
											</p:commandButton>
										</center>
									</p:column>
								</p:dataTable>
							</p:panel>
						</div>

						<div id="right_caixa"
							style="width: 47%; float: right; margin-right: 2%;">
							<p:panel header="Lançamentos Por Forma de Pagamento">
								<p:dataTable value="#{caixaBean.lancamentoFormasPagamento}"
									var="lancamentoF" widgetVar="tblFormasPag" paginator="true" rows="5"
									paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
									filteredValue="#{caixaBean.lancamentoFormasPagamento}"
									emptyMessage="Nenhum Registro Encontrado!">
									<p:column headerText="Descrição">
										<center>
											<h:outputText value="#{lancamentoF.formaPagamento.descricao}" />
										</center>
									</p:column>
									<p:column headerText="Total">
										<center>
											<h:outputText value="#{lancamentoF.valor}" />
										</center>
									</p:column>
									<p:column headerText="Opções">
										<center>
											<p:commandButton title="Detalhes" update=":form:lancamentosPorFormaDePagamento" 
												action="#{caixaBean.atualizaListaLancamentoPorFormaDePagamento()}" 
												oncomplete="PF('dlglancamentosPorFormaDePagamento').show()"
												icon="ui-icon-search">
												<f:setPropertyActionListener
													target="#{caixaBean.lancamentoSelecionado2}"
													value="#{lancamentoF}" />
												<f:setPropertyActionListener
													target="#{caixaBean.formaPagamento}"
													value="#{lancamentoF.formaPagamento}" />
											</p:commandButton>
										</center>
									</p:column>
								</p:dataTable>
							</p:panel>
						</div>

					</div>

					<p></p>
					<p></p>
					<div style="margin-top: 400px;">
						<f:facet name="footer">
							<p:toolbar id="tb">
								<p:toolbarGroup align="center">
									<center>
										<h2 style="color: black;">
											<p:outputLabel value="Abertura: "></p:outputLabel>
											<p:outputLabel value="#{caixaBean.dataAbertura}">
												<f:convertDateTime dateStyle="medium" />
											</p:outputLabel>
											<p:outputLabel
												value=" | Valor total(R$):  #{caixaBean.valorTotalCaixa}"></p:outputLabel>
										</h2>
									</center>
								</p:toolbarGroup>
							</p:toolbar>
							<p:sticky target="tb" />
						</f:facet>
					</div>
				</p:panel>
			</h:form>
			
			<!-- Dialogs -->
			<h:form id="formAbrirCaixa">
			
				<p:dialog id="dlAbrirCaixa" header="Abrir Caixa"
					widgetVar="abrirCaixa" resizable="false" width="450">					
					<p:panel>
						<h:panelGrid columns="2">
						
							<p:outputLabel for="valor" value="Valor Inicial: " />
							<p:inputText id="valor" value="#{caixaBean.valorAbertura}" size="12" />
							<h:outputText value="" />
							<h:outputText value="" />
							<h:outputText value="Observação: " />
							<p:inputTextarea id="observacoes" rows="5" cols="40"
								maxlength="400" counterTemplate="{0} characters remaining."
								autoResize="false" value="#{caixaBean.observacao}" />
							<p:outputLabel></p:outputLabel>
							<p:commandButton value="Salvar" icon="ui-icon-disk" ajax="false"
								action="#{caixaBean.abrir}" update="form2, messages"
								oncomplete="abrirCaixa.hide()" />
						</h:panelGrid>

					</p:panel>
				</p:dialog>
				
			</h:form>
			
			<h:form id="form">
				<p:dialog id="obsLancamento" header="Observação" modal="true"
					appendToBody="true" widgetVar="obsLancamento" resizable="false"
					width="450">
					<p:panel id="display">
						<h:outputText
							value="#{caixaBean.lancamentoSelecionado.observacao}" />
					</p:panel>
				</p:dialog>

				<p:dialog id="dlgSangria" header="Sangria" widgetVar="dlgSangria" resizable="false">
					<h:panelGrid id="pnlSangria" columns="3">

						<h:outputText value="Valor" />
						<h:inputText value="#{caixaBean.valorSangria}" /><h:outputText/>
						<h:outputText value="Observação" />
						<h:inputText value="#{caixaBean.observacao}" /><h:outputText/>
						<h:outputText/><h:outputText/>						
						<p:commandButton value="Salvar" icon="ui-icon-disk" ajax="false" update="messages" 
							action="#{caixaBean.realizarSangria()}"	oncomplete="dlgSangria.hide()" />
					</h:panelGrid>
				</p:dialog>
				
				<!-- Fechar Caixa -->
				<p:dialog id="confirmacaoCaixa" header="Confirmação" widgetVar="confirmaCaixa" resizable="false">
					<p:panel>
						<h:panelGrid cellpadding="0" columns="3">
								<p:outputLabel value="Deseja fechar o caixa?" />
								
								<p:commandButton value="Sim" onclick="confirmaCaixa.hide()" 
									ajax="false" >
									<p:fileDownload value="#{caixaBean.relatorioCaixaAtual}" contentDisposition=""/>
								</p:commandButton>
								
								<p:commandButton id="recusaBtn" value="Não"	onclick="confirmaCaixa.hide()" />
						</h:panelGrid>
					</p:panel>
				</p:dialog>
				
				<!-- Lancamentos Por Transação -->
				<p:dialog id="lancamentosPorTransacao" header="Detalhes Lançamentos" widgetVar="dlgLancamentosPorTransacao" 
					resizable="false" modal="true" appendTo="@(body)">
					<p:dataTable value="#{caixaBean.todosLancamentosTransacoes}" var="lancamento"
						widgetVar="tblLancamentosPorTransacao" paginator="true" rows="10"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum Registro Encontrado!" sortBy="id">
						<f:facet name="header">
							Lançamentos Por Transação
						</f:facet>
						<p:column headerText="Id" sortBy="id">
							<center>
								<h:outputText value="#{lancamento.id}" />
							</center>
						</p:column>
						<p:column headerText="Valor" sortBy="valor">
							<center>
								<h:outputText value="#{lancamento.valor}" />
							</center>
						</p:column>
						<p:column headerText="Transacao" sortBy="transacao.descricao">
							<center>
								<h:outputText value="#{lancamento.transacao.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Obs" filterBy="obervacao" filterMatchMode="contains">
							<center>
								<h:outputText value="#{lancamento.observacao}" />
							</center>
						</p:column>	
					</p:dataTable>
				</p:dialog>
				
			
				<!-- Lancamentos Por Forma de Pagamento -->
				<p:dialog id="lancamentosPorFormaDePagamento" header="Detalhes Lançamentos" widgetVar="dlglancamentosPorFormaDePagamento" 
					resizable="false" modal="true" appendTo="@(body)">
					<p:dataTable value="#{caixaBean.todosLancamentosPorFormaDePagamento}" var="lancamento"
						widgetVar="tbllancamentosPorFormaDePagamento" paginator="true" rows="10"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum Registro Encontrado!" sortBy="id">
						<f:facet name="header">
							Lançamentos Por Forma de Pagamento
						</f:facet>
						<p:column headerText="Id" sortBy="id">
							<center>
								<h:outputText value="#{lancamento.id}" />
							</center>
						</p:column>
						<p:column headerText="Valor" sortBy="valor">
							<center>
								<h:outputText value="#{lancamento.valor}" />
							</center>
						</p:column>
						<p:column headerText="Forma Pagamento" sortBy="formaPagamento.descricao">
							<center>
								<h:outputText value="#{lancamento.formaPagamento.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Obs" filterBy="obervacao" filterMatchMode="contains">
							<center>
								<h:outputText value="#{lancamento.observacao}" />
							</center>
						</p:column>	
					</p:dataTable>
				</p:dialog>
				
			</h:form>
			
			<h:form id="formSuprimento">
				<p:dialog id="dlgSuprimento" header="Suprimento" widgetVar="dlgSuprimento" resizable="false">
					<h:panelGrid id="pnlSuprimento" columns="3">
						<h:outputText value="Valor" />
						<h:inputText value="#{caixaBean.valorSuprimento}" />							
						
						<p:commandButton value="Salvar" icon="ui-icon-disk" ajax="false" id="btnSuprimento"
							action="#{caixaBean.realizarSuprimento()}" update="messages"  
							oncomplete="dlgSuprimento.hide()" />
					</h:panelGrid>
				</p:dialog>
			</h:form>

		</ui:define>
	</ui:decorate>
</body>
</html>
