<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">
			<h:form id="detalhes_hospedagem" acceptcharset="ISO-8859-1">

				<p:growl id="messages" showDetail="true" />
				
				<!-- DETALHES DA HOSPEDAGEM -->	
				<p:panel header="Detalhes da Hospedagem">
					<h:panelGrid columns="3" border="0" cellspacing="1">

						<p:outputLabel for="nome_cliente" value="Cliente: "
							style="font-weight: bold" />
						<p:outputLabel id="nome_cliente"
							value="#{hospedagemBean.hospedagem.nomeCliente}" />
						<p></p>

						<p:outputLabel for="apartamento" value="Nº Apartamento: "
							style="font-weight: bold" />
						<p:outputLabel id="apartamento"
							value="#{hospedagemBean.hospedagem.apartamento.numero_apartamento}">
							<f:convertNumber pattern="##00" />
						</p:outputLabel>
						<p></p>
						
						<p:outputLabel for="tipoApart" value="Tipo: "
							style="font-weight: bold" />
						<p:outputLabel id="tipoApart"
							value="#{hospedagemBean.hospedagem.apartamento.tipo.descricao}" />
							
						<p></p>

						<p:outputLabel for="dtCheckin" value="Data Checkin: "
							style="font-weight: bold" />
						<p:outputLabel id="dtCheckin"
							value="#{hospedagemBean.hospedagem.dataPrevCheckin}">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3" />
						</p:outputLabel>
						<p:outputLabel id="horaCheckin"
							value="#{hospedagemBean.hospedagem.horaCheckin}">
							<f:convertDateTime pattern="HH:mm" timeZone="GMT-3" />
						</p:outputLabel>

						<p:outputLabel for="dtCheckout" value="Data Checkout: "
							style="font-weight: bold" />
						<p:outputLabel id="dtCheckout"
							value="#{hospedagemBean.hospedagem.dataPrevCheckout}">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3" />
						</p:outputLabel>
						<p:outputLabel id="horaCheckout"
							value="#{hospedagemBean.hospedagem.horaCheckout}">
							<f:convertDateTime pattern="HH:mm" timeZone="GMT-3" />
						</p:outputLabel>

						<p:outputLabel for="valorDiaria" value="Valor Diária: "
							style="font-weight: bold" />
						<p:outputLabel id="valorDiaria"
							value="R$ #{hospedagemBean.hospedagem.valor}">
							<f:convertNumber type="currency" />
						</p:outputLabel>
						<p></p>

						<p:outputLabel for="status" value="Situação: "
							style="font-weight: bold" />
						<p:outputLabel id="status"
							value="#{hospedagemBean.hospedagem.tipoStatus}" />
						<p></p>

					</h:panelGrid>
					
					<br /><br />

					<p:accordionPanel  multiple="true">
						<!-- ACORDION ITENS HOSPEDAGEM -->
						<p:tab title="Observação Hospedagem">
							#{hospedagemBean.hospedagem.observacoes}							
						</p:tab>
						
						<!-- ACORDION ITENS HOSPEDAGEM -->
						<p:tab title="Itens da Hospedagem">
							<p:dataTable value="#{hospedagemBean.listaItens}" var="item"
								widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx"
								rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15"
								emptyMessage="Nenhum Registro Encontrado!">

								<p:column headerText="ID">
									<center>
										<h:outputText value="#{item.id}" />
									</center>
								</p:column>
								<p:column headerText="Cód. Movimento">
									<center>
										<h:outputText value="#{item.movimento.id}" />
									</center>
								</p:column>
								<p:column headerText="Data Movimento">
									<center>
										<h:outputText value="#{item.movimento.data}" >
											<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT-3" locale="pt_BR"/>
										</h:outputText>
									</center>
								</p:column>
								<p:column headerText="Cód. Produto">
									<center>
										<h:outputText value="#{item.produto.id}" />
									</center>
								</p:column>
								<p:column headerText="Produto">
									<center>
										<h:outputText value="#{item.produto.descricao}" />
									</center>
								</p:column>
								<p:column headerText="Quantidade">
									<center>
										<h:outputText value="#{item.quantidade}" />
									</center>
								</p:column>
								<p:column headerText="Preço"
									footerText="Total Itens: #{hospedagemBean.totalItensHospedagem}">
									<center>
										<h:outputText value="#{item.produto.preco}" />
									</center>
								</p:column>
								<p:column headerText="Opções">
									<center>
										<sec:ifAnyGranted roles="ROLE_ADMIN">
											<h:commandLink action="#{hospedagemBean.removerProduto}" rendered="#{hospedagemBean.hospedagemAberta}"
												onclick="if (!confirm('Confirma a exclusão da produto [#{item.produto.descricao}]?')) return false;"
												title="Excluir Item">
												<h:graphicImage library="imagens" name="excluir16.png"
													style="border:0" />
												<f:setPropertyActionListener
													target="#{hospedagemBean.itemMovimento}" value="#{item}" />
											</h:commandLink>
										</sec:ifAnyGranted>
									</center>
								</p:column>
								<f:facet name="header">
									<p:commandButton value="Novo Item" ajax="false" rendered="#{hospedagemBean.hospedagemAberta}"
										action="#{vendaBean.novoItemHospedagem}"
										icon="ui-icon-document" />
									<p:separator />
								</f:facet>
							</p:dataTable>
						</p:tab>
						
						<!-- ACORDION LANCAMENTOS HOSPEDAGEM -->
						<p:tab title="Lançamentos da Hospedagem">
							<p:dataTable
								value="#{hospedagemBean.hospedagem.listaLancamentos}"
								editable="true" editMode="cell" var="lancamento"
								widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx"
								rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15"
								emptyMessage="Nenhum Registro Encontrado!">

								<p:column headerText="ID">
									<center>
										<h:outputText value="#{lancamento.id}" />
									</center>
								</p:column>
								
								
								<p:column headerText="Transação">
									<center>
										<h:outputText value="#{lancamento.transacao.descricao}" />
									</center> 
								</p:column>
								
								<p:column headerText="Forma de Pagamento">
									<center>
										<h:outputText value="#{lancamento.formaPagamento.descricao}" />
									</center>
								</p:column>

								<p:column headerText="Data Lançamento">
									<center>
										<h:outputText value="#{lancamento.data}">
											<f:convertDateTime pattern="dd/MM/yyyy HH:mm" timeZone="GMT-3" locale="pt_BR"/>
										</h:outputText>
									</center>
								</p:column>

								<p:column headerText="Valor Lançamento">
									<center>
										<h:outputText value="#{lancamento.valor}" />
									</center>
								</p:column>

								<p:column headerText="Confirmado">
									<center>
										<h:outputText value="#{lancamento.lancamentoConfirmado}" />
									</center>
								</p:column>

								<p:column headerText="Opções">

									<center>
									
									<sec:ifAnyGranted roles="ROLE_ADMIN">
										<p:commandButton action="#{editarLancamentoBean.continuar}" rendered="#{hospedagemBean.hospedagemAberta}"
											title="Editar Lançamento" icon="ui-icon-pencil">
										<f:setPropertyActionListener
											target="#{editarLancamentoBean.lancamento}" value="#{lancamento}" />
										<f:setPropertyActionListener
											target="#{editarLancamentoBean.transacao}" value="#{lancamento.transacao}" />
										<f:setPropertyActionListener
											target="#{editarLancamentoBean.formaPagamento}" value="#{lancamento.formaPagamento}" />
										<f:setPropertyActionListener
											target="#{editarLancamentoBean.paginaRetorno}" value="#{editarLancamentoBean.getHospedagem()}" />
										</p:commandButton>
									</sec:ifAnyGranted>
									
									<sec:ifAnyGranted roles="ROLE_ADMIN">
										<p:commandButton action="#{hospedagemBean.alterarLancamento}" rendered="#{hospedagemBean.hospedagemAberta}"
											onclick="if (!confirm('Alterar status do lançamento?')) return false;"
											title="Alterar Lançamento" icon="ui-icon-refresh">
										<f:setPropertyActionListener
											target="#{hospedagemBean.lancamento}" value="#{lancamento}" />
										</p:commandButton>
								    </sec:ifAnyGranted>

									<sec:ifAnyGranted roles="ROLE_ADMIN">
										<p:commandButton action="#{hospedagemBean.removerLancamento}" rendered="#{hospedagemBean.hospedagemAberta}"
											onclick="if (!confirm('Confirma a exclusão do lançamento?')) return false;"
											title="Excluir Lançamento" icon="ui-icon-trash">
										<f:setPropertyActionListener
											target="#{hospedagemBean.lancamento}" value="#{lancamento}" />
										</p:commandButton>
									</sec:ifAnyGranted>
									
									</center>
								</p:column>

								<f:facet name="header">
									<p:commandButton id="btnNovoLancamento" value="Novo Lançamento"
										update=":detalhes_hospedagem" rendered="#{hospedagemBean.hospedagemAberta}"
										action="#{hospedagemBean.novoLancamento}"
										oncomplete="PF('dlgLancamento').show()" icon="ui-icon-document" />
								</f:facet>

							</p:dataTable>
						</p:tab>
						
						<!-- ACORDDION TOTAL HOSPEDAGEM -->
						<p:tab title="Total da Hospedagem">
							<h:panelGrid columns="2" cellpadding="10">

								<h:panelGrid columns="2" border="0">

									<p:outputLabel for="totaldias" value="Total de diárias: "
										style="font-weight: bold" />
									<p:outputLabel id="totaldias"
										value="#{hospedagemBean.totalDiarias()} diária(s)." />
										
									<p:outputLabel for="totalItens"
										value="Valor Total Consumido: " style="font-weight: bold" />
									<p:outputLabel id="totalItens"
										value="#{hospedagemBean.totalItensHospedagem} R$" />
									
									<p:separator style="width:300px" />
									<p />
									
									<p:outputLabel
										value="Valor Total da Hospedagem: " style="font-weight: bold" />
									<h:outputText id="valortotal"
										value="#{hospedagemBean.valorTotalHospedagem} R$"/>
									
									<p:separator style="width:300px" />
									<p />
										
									<p:outputLabel for="desconto"
										value="Desconto: " style="font-weight: bold" />
									<p:outputLabel id="desconto"
										value="#{hospedagemBean.hospedagem.desconto} R$" />
										
									<p:outputLabel for="acrescimo"
										value="Acréscimo: " style="font-weight: bold" />
									<p:outputLabel id="acrescimo"
										value="#{hospedagemBean.hospedagem.acrescimo} R$" />
									
									<p:separator  style="width:300px" />
									<p />
										
									<p:outputLabel for="valortotalpago" value="Valor Pago: "
										style="font-weight: bold" />
										
									<p:outputLabel id="valortotalpago"
										value="#{hospedagemBean.hospedagem.totalLancamentosConfirmados} R$" />
										
								
									<p:separator  style="width:300px" rendered="#{hospedagemBean.hospedagemAberta}"/>
									<p />
									
									<p:outputLabel for="valorrestante" rendered="#{hospedagemBean.hospedagemAberta}"
										value="Valor Restante à Pagar: " style="font-weight: bold" />

									<p:outputLabel id="valorrestante" rendered="#{hospedagemBean.hospedagemAberta}"
										value="#{hospedagemBean.valorAPagar} R$" />
										

								</h:panelGrid>
							</h:panelGrid>
						</p:tab>
					</p:accordionPanel>

					<f:facet name="footer">
						<p:toolbar id="tb">
							<p:toolbarGroup align="center">
								<center>

									<p:commandButton value="Voltar" ajax="false"
										icon="ui-icon-triangle-1-w"
										action="#{listaHospedagemBean.abrir()}" />
										
									<p:separator />
									
									<p:commandButton icon="ui-icon-pencil" value="Editar" action="#{hospedagemBean.editar}" />
										
									<p:separator />

									<p:commandButton id="btnFazerCheckout" action="#{hospedagemBean.atualizarValorTotal()}" value="Fazer Checkout" rendered="#{hospedagemBean.hospedagemAberta}"
										oncomplete="PF('dlgCheckout').show()" icon="ui-icon-check" update=":fmCheckout:total"/>
								</center>
							</p:toolbarGroup>
						</p:toolbar>
						<p:sticky target="tb" />
					</f:facet>
				</p:panel>

			</h:form>
			
			<!-- DIALOG LANCAMENTOS HOSPEDAGENS -->
			<p:dialog header="Lançamento" widgetVar="dlgLancamento"
				 height="220px" width="400px" resizable="false">
				<h:form id="fmLancamento">
					<h:panelGrid columns="2" border="0">
						<h:outputText for="transacao" value="Transação: " />
						<p:selectOneMenu id="transacao" style="width: 250px"
							value="#{hospedagemBean.idTrn}">
							<f:selectItems value="#{hospedagemBean.transacoes}" />
						</p:selectOneMenu>

						<h:outputText for="formapagamento" value="Forma Pag.: " />
						<p:selectOneMenu id="formapagamento" style="width: 250px"
							value="#{hospedagemBean.idFpg}">
							<f:selectItems value="#{hospedagemBean.formasPagamento}" />
						</p:selectOneMenu>

						<p:outputLabel for="valor" value="Valor: " size="26" />
						<p:inputText id="valor" value="#{hospedagemBean.lancamento.valor}" />

						<p:outputLabel for="data" value="Data: " size="26" />
						<p:calendar locale="pt_BR" showButtonPanel="true"
							pattern="dd/MM/yyyy HH:mm" required="true"
							value="#{hospedagemBean.lancamento.data}" effect="drop"
							navigator="true" id="data" />


						<p:outputLabel for="confirmado" value="Pago: " />
						<p:selectOneRadio id="confirmado"
							value="#{hospedagemBean.lancamento.confirmado}">
							<f:selectItem itemLabel="Sim" itemValue="true" />
							<f:selectItem itemLabel="Não" itemValue="false" />
						</p:selectOneRadio>

						<f:facet name="footer">
							<p:toolbar id="tb2"  style="margin-top: 20px;">
								<p:toolbarGroup align="center">
									<center>
										<p:commandButton value="Salvar" ajax="false"
											action="#{hospedagemBean.salvarLancamento}"
											icon="ui-icon-disk" update=":detalhes_hospedagem" />
										<p:separator />
										<p:commandButton value="Cancelar" ajax="false"
											immediate="true" autoupdate="true" icon="ui-icon-trash"
											update=":detalhes_hospedagem" onclick="dlgLancamento.close()" />
									</center>
								</p:toolbarGroup>
							</p:toolbar>

						</f:facet>

					</h:panelGrid>
				</h:form>
			</p:dialog>

			<!-- DIALOG REALIZAR CHECKOUT -->
			<p:dialog header="Realizar Checkout" widgetVar="dlgCheckout"
				id="realizaCheckout" height="auto;" width="auto;" closable="false">
				<h:form id="fmCheckout">
					<p:messages display="2000" showDetail="true" showSummary="false" autoUpdate="true" closable="true"/>
					<h:panelGrid id="panelCheckout" columns="2" cellpadding="5">

						<p:outputLabel for="totaldias" value="Total de diárias: "
							style="font-weight: bold" />
						<p:outputLabel id="totaldias"
							value="#{hospedagemBean.hospedagem.qtdDiarias} diária(s)." />
						<p:outputLabel for="valortotalpago" value="Valor Pago: "
							style="font-weight: bold" />
						<p:outputLabel id="valortotalpago"
							value="#{hospedagemBean.hospedagem.totalLancamentosConfirmados} R$" />
						<p:outputLabel for="totalItens" value="Valor Total Consumido: "
							style="font-weight: bold" />
						<p:outputLabel id="totalItens"
							value="#{hospedagemBean.totalItensHospedagem} R$" />
						<p:outputLabel for="valortotal"
							value="Valor Total da Hospedagem: " style="font-weight: bold" />
						<p:outputLabel id="valortotal"
							value="#{hospedagemBean.valorTotalHospedagem} R$" />

						<p:separator id="separador" style="width:200px" />
						<p />
						
						<p:outputLabel for="valorrestante"
							value="Valor Restante à Pagar: " style="font-weight: bold" />

						<p:outputLabel id="valorrestante"
							value="#{hospedagemBean.getValorAPagar()} R$" />
							
						<p:separator id="separador2" style="width:200px" />
						<p />

						<p:outputLabel value="Desconto: " />
						<p:inputText id="desconto" value="#{hospedagemBean.hospedagem.desconto}" converterMessage="Valor inválido. Ex: 15 ou 15.50" style="width: 100px">
							<p:ajax event="blur" update=":fmCheckout:total, :fmCheckout" listener="#{hospedagemBean.atualizarValorTotal}"/>
						</p:inputText>
						<p:outputLabel value="Acréscimo: " />
						<p:inputText value="#{hospedagemBean.hospedagem.acrescimo}" converterMessage="Valor inválido. Ex: 15 ou 15.50" style="width: 100px">
							<p:ajax event="blur" update=":fmCheckout:total, :fmCheckout" listener="#{hospedagemBean.atualizarValorTotal}"/>
						</p:inputText>
						
						<h:outputText for="transacao" value="Transação: " />
						<p:selectOneMenu id="transacao" value="#{hospedagemBean.idTrn}" style="width: 200px">
							<f:selectItems value="#{hospedagemBean.transacoes}" />
						</p:selectOneMenu>

						<h:outputText for="formapagamento" value="Forma Pag.: " />
						<p:selectOneMenu id="formapagamento" value="#{hospedagemBean.idFpg}" style="width: 200px">
							<f:selectItems value="#{hospedagemBean.formasPagamento}" />
						</p:selectOneMenu>
						
						<p:outputLabel value="Valor Restante: " style="font-weight: bold; font-size: 20px;"/>
						<h:outputText value="#{hospedagemBean.valorRestante}  R$" id="total" style="font-size: 20px; color: red;"/>

						<f:facet name="footer">
							<p:toolbar id="tb2" style="margin-top: 20px;">
								<p:toolbarGroup align="center">
									<center>
											<p:commandButton value="Salvar" ajax="false"
												action="#{hospedagemBean.realizarCheckout}"
												icon="ui-icon-disk"/>
												
											<p:commandButton value="Cancelar" ajax="false"
												action="#{hospedagemBean.cancelarCheckout}" oncomplete="dlgCheckout.close()"
												icon="ui-icon-trash" update=":detalhes_hospedagem" />
									</center>
								</p:toolbarGroup>
							</p:toolbar>

						</f:facet>
					</h:panelGrid>
				</h:form>
			</p:dialog>

		</ui:define>
	</ui:decorate>
</h:body>
</html>