<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Estoque Produto</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form id="formPrincipal">
			
				 
				<h3>
					<p:outputLabel value=" Resumo Produto:  #{estoqueBean.produto.descricao}"/>
				</h3>

							
				<p:panel header="Entradas X Saídas" style="height:320px; width:94%">

					<div id="right_main" style="width: 47%; float: left; margin-left: 2%;">
						<p:pieChart value="#{estoqueBean.chartProduto}" legendPosition="w" />
					</div>
					
					<div id="left_main" style="width: 47%; float: right; margin-right: 2%;">
						<br />
						<p:panelGrid columns="3" >
							<h:outputText value="Total Compra" style="font-weight:bold;"/>
							<h:outputText value="Total Venda" style="font-weight:bold;"/>
							<h:outputText value="Saldo" style="font-weight:bold;"/>
							
							<h:outputText value="#{estoqueBean.produto.total_compra}"/>
							<h:outputText value="#{estoqueBean.produto.total_venda}"/>
							<h:outputText value="#{estoqueBean.produto.saldo}" />							
						</p:panelGrid>
					</div>
				</p:panel>
				<br />
				<p:commandButton ajax="false" immediate="true"
					action="#{estoqueBean.voltar}" value="Voltar"
					icon="ui-icon-circle-arrow-w"></p:commandButton>

			</h:form>
		</ui:define>
	</ui:decorate>
</h:body>
</html>