<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada</title>
	<h:outputStylesheet library="css" name="estilo.css"/>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">

			<p:panel header="Formas de Pagamento Cadastradas">
				<h:form id="listaFormasPagamento" acceptcharset="ISO-8859-1">
					<p:toolbar id="tb">
						<p:toolbarGroup align="left">
							<p:commandButton value="Nova Forma de Pagamento"
								icon="ui-icon-plus" action="#{formas_PagamentoBean.novo}"
								ajax="false" />
							<p:separator />
						</p:toolbarGroup>
					</p:toolbar>
					<p:sticky target="tb" />
					<p />
					<p:dataTable value="#{formas_PagamentoBean.lista}"
						var="formas_pagamento" widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum Registro Encontrado!" sortBy="id">

						<p:column headerText="Código" filterBy="id" filterMatchMode="contains" sortBy="id">
							<center>
								<h:outputText value="#{formas_pagamento.id}" />
							</center>
						</p:column>
						<p:column headerText="Descrição" filterBy="descricao" filterMatchMode="contains" filterStyle="width: 500px" sortBy="descricao">
							<center>
								<h:outputText value="#{formas_pagamento.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Opções">
							<center>
								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{formas_PagamentoBean.editar}" icon="ui-icon-pencil" 
									disabled="#{formas_PagamentoBean.isDisable(formas_pagamento.id)}" title="Editar">
										<f:setPropertyActionListener
											target="#{formas_PagamentoBean.formas_Pagamento}"
											value="#{formas_pagamento}" />
									</p:commandButton>
								</sec:ifAnyGranted>

								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{formas_PagamentoBean.remover}" disabled="#{formas_PagamentoBean.isDisable(formas_pagamento.id)}"
										onclick="if (!confirm('Confirma a exclusão da forma de pagamento: #{formas_pagamento.descricao}?')) return false;"
										title="Excluir Forma de Pagamento" icon="ui-icon-trash">										
										<f:setPropertyActionListener
											target="#{formas_PagamentoBean.formas_Pagamento}"
											value="#{formas_pagamento}" />
									</p:commandButton>
								</sec:ifAnyGranted>
							</center>
						</p:column>

					</p:dataTable>
				</h:form>
			</p:panel>

		</ui:define>
	</ui:decorate>
</h:body>
</html>