<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada</title>
	<h:outputStylesheet library="css" name="estilo.css" />
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">

			<p:panel header="Apartamentos Cadastrados">
				<h:form id="listaApartamentos" acceptcharset="ISO-8859-1">
					<p:toolbar id="tb">
						<p:toolbarGroup align="left">
							<p:commandButton value="Novo Apartamento"
								action="#{apartamentosBean.novo}" ajax="false"
								icon="ui-icon-plus" />
							<p:separator />
							<p:commandButton value="Novo Tipo Apartamento"
								action="#{tipoApartamentoBean.novo}" ajax="false"
								icon="ui-icon-plus" />
						</p:toolbarGroup>
					</p:toolbar>
					<p:sticky target="tb" />
					<p />
					<p:dataTable value="#{apartamentosBean.lista}" var="apartamento"
						widgetVar="widg" paginator="true" rows="10"
						rowIndexVar="rowIx"
						rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  
								 					{FirstPageLink} 
								 					{PreviousPageLink} 
								 					{PageLinks} 
								 					{NextPageLink} 
								 					{LastPageLink} 
								 					{RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15"
						filteredValue="#{apartamentosBean.lista}"
						emptyMessage="Nenhum Registro Encontrado!" sortBy="numero_apartamento" >

						<p:column headerText="Número" filterBy="numero_apartamento" sortBy="numero_apartamento" 
							filterMatchMode="contains">
							<center>
								<h:outputText value="#{apartamento.numero_apartamento}" />
							</center>
						</p:column>
						<p:column headerText="Capacidade" filterBy="capacidade" sortBy="capacidade" 
							filterMatchMode="contains">
							<center>
								<h:outputText value="#{apartamento.capacidade}" />
							</center>
						</p:column>
						<p:column headerText="Valor Diária" filterBy="valor_diaria" filterMatchMode="contains">
							<center>
								<h:outputText value="#{apartamento.valor_diaria}" />
							</center>
						</p:column>
						<p:column headerText="Tipo Apartamento" 
							filterMatchMode="contains" sortBy="tipo.descricao" filterBy="tipo.descricao">
							<center>
								<h:outputText value="#{apartamento.tipo.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Descrição" filterBy="descricao"
							filterMatchMode="contains" filterStyle="width: 200px">
							<center>
								<h:outputText value="#{apartamento.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Opções">
							<center>
								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton id="btnEditar" action="#{apartamentosBean.editar}" 
										icon="ui-icon-pencil" title="Editar Apartamento">
										<f:setPropertyActionListener
											target="#{apartamentosBean.apartamento}"
											value="#{apartamento}" />
									</p:commandButton>
								</sec:ifAnyGranted>

								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{apartamentosBean.remover}" 
										onclick="if (!confirm('Confirma a exclusão do Apartamento #{apartamento.numero_apartamento}?')) return false;"
										title="Excluir Apartamento" icon="ui-icon-trash">
										<f:setPropertyActionListener
											target="#{apartamentosBean.apartamento}"
											value="#{apartamento}" />
									</p:commandButton>
								</sec:ifAnyGranted>
							</center>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:decorate>
</h:body>
</html>