<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada</title>
	<h:outputStylesheet library="css" name="estilo.css"/>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">

			<p:panel header="Controle de Hospedagens" >
				<h:form id="listaHospedagem" acceptcharset="ISO-8859-1">
					<p:messages autoUpdate="true" showDetail="true" closable="true"/>
					<p:toolbar id="tb">
						<p:toolbarGroup align="left">
							<p:commandButton value="Nova Hospedagem"
								action="#{hospedagemBean.novo}"  icon="ui-icon-document" />
							<p:separator />
							<p:commandButton value="Lançar Item Hospedagem"
								action="#{vendaBean.novoItemHospedagem}"  icon="ui-icon-document" />
						</p:toolbarGroup>
					</p:toolbar>
					<p:sticky target="tb" />
					<p />
					
					<!-- <h2><strong>Filtro</strong></h2>			 -->
					<div class="floatingLeft2">
						<h:panelGrid columns="6" border="0">
							<p:outputLabel for="tipo" value="Tipo: " />
							<p:selectOneMenu id="tipo" style="width: 320px" value="#{listaHospedagemBean.tipoSelecionado}">
								<f:selectItem itemLabel="Selecione"/>
								<f:selectItems value="#{listaHospedagemBean.getTiposHospedagem()}" var="tipo" itemValue="#{tipo.flag}" itemLabel="#{tipo.descricao}"/>
							</p:selectOneMenu>
							<p:outputLabel for="status" value="Status: " />
							<p:selectOneMenu id="status" style="width: 320px" value="#{listaHospedagemBean.statusSelecionado}">
								<f:selectItem itemLabel="Selecione"/>
								<f:selectItems value="#{listaHospedagemBean.getStatusHospedagem()}" var="status" itemValue="#{status.flag}" itemLabel="#{status.descricao}"/>
							</p:selectOneMenu>
							
							<p:commandButton icon="ui-icon-close" title="Limpar Consulta" 
								update=":listaHospedagem:tblHospedagens, :listaHospedagem:tipo, :listaHospedagem:status" 
								action="#{listaHospedagemBean.limpaConsulta}"/>
							
							<p:commandButton icon="ui-icon-search" title="Pesquisar" 
								update=":listaHospedagem:tblHospedagens" action="#{listaHospedagemBean.realizaConsulta}"/>
								
						</h:panelGrid>
					</div>
					<div class="floatingRight2">
							<div style="width:20px; height:20px; background: #98FB98 ;"></div>
							<div>
								<strong><p:outputLabel value="Aberto"/></strong>
							</div>
					</div>
									
					<br /><br /><br />		
										
					<p:dataTable value="#{listaHospedagemBean.lista}" var="hospedagem" widgetVar="widg" paginator="true" id="tblHospedagens" paginatorPosition="top"
						rows="10" rowStyleClass="#{hospedagem.status eq 'A' ? 'rowAtivo' : ''}" selection="#{hospedagemBean.hospedagem}" rowKey="#{hospedagem.id}"
						paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" filteredValue="#{listaHospedagemBean.listaFiltrada}" emptyMessage="Nenhum Registro Encontrado!" sortBy="id" >
						
						<f:facet name="header">Hospedagens</f:facet>
						<p:column selectionMode="single" style="width:16px; text-align:center" />
						<p:column headerText="Código" filterBy="#{hospedagem.id}" filterMatchMode="contains"  sortBy="id">
							<center>
								<h:outputText value="#{hospedagem.id}" />
							</center>
						</p:column>
						<p:column headerText="Cliente" filterBy="cliente.nome" filterMatchMode="contains"  sortBy="cliente.nome">
							<center>
								<h:outputText value="#{hospedagem.nomeCliente}" />
							</center>
						</p:column>
						<p:column headerText="Apartamento" filterStyle="width: 70px" style="text-align: center; width: 80px" filterBy="apartamento.numero_apartamento" filterMatchMode="contains"  sortBy="apartamento.numero_apartamento">
								<h:outputText value="#{hospedagem.apartamentoReservado}" />
						</p:column>	
						<p:column headerText="Data Checkin" filterBy="dataPrevCheckin" filterMatchMode="contains" sortBy="dataPrevCheckin">							
							<center>
								<h:outputText value="#{hospedagem.dataPrevCheckin}" >
									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3" locale="pt_BR"/> 
								</h:outputText>
							</center>
						</p:column>	
						<p:column headerText="Data Checkout" filterBy="dataPrevCheckout" filterMatchMode="contains"  sortBy="dataPrevCheckout">
							<center>
								<h:outputText value="#{hospedagem.dataPrevCheckout}" >
									<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-3" locale="pt_BR"/> 
								</h:outputText>
							</center>
						</p:column>	
						
						<p:column headerText="Tipo" filterBy="tipoHospedagem" filterMatchMode="contains"  sortBy="tipoHospedagem">
							<center>
								<h:outputText value="#{hospedagem.tipoHospedagem}" />
							</center>
						</p:column>
						
						<f:facet name="footer">
							<sec:ifAnyGranted roles="ROLE_ADMIN,ROLE_USER">
								<p:commandButton icon="ui-icon-print" title="Imprimir Ficha de Hospede" ajax="false" 
										process="tblHospedagens" >
									<p:fileDownload value="#{listaHospedagemBean.fichaHospede()}" contentDisposition=""/>
								</p:commandButton>
							</sec:ifAnyGranted>
							
							<sec:ifAnyGranted roles="ROLE_ADMIN,ROLE_USER">
								<p:commandButton icon="ui-icon-circle-zoomin" action="#{listaHospedagemBean.visualizar}" process="tblHospedagens"
									title="Detalhes Hospedagem">
								</p:commandButton>
							</sec:ifAnyGranted>
							
							<sec:ifAnyGranted roles="ROLE_ADMIN">
								<p:commandButton icon="ui-icon-pencil" action="#{listaHospedagemBean.editar}" process="tblHospedagens"
									title="Editar Hospedagem">
								</p:commandButton>
							</sec:ifAnyGranted>
		
							<sec:ifAnyGranted roles="ROLE_ADMIN">
								<p:commandButton icon="ui-icon-trash" action="#{listaHospedagemBean.remover}" update=":listaHospedagem:tblHospedagens" process="tblHospedagens"
									onclick="if (!confirm('Confirma a exclusão da Hospedagem #{hospedagem.id}?')) return false;"
									title="Excluir Hospedagem">
								</p:commandButton>
							</sec:ifAnyGranted>
						</f:facet>
						
					</p:dataTable>					
				</h:form>
			</p:panel>

		</ui:define>
	</ui:decorate>
</h:body>
</html>