<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada</title>
	<h:outputStylesheet library="css" name="estilo.css" />
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">

			<p:panel header="Tipos de Apartamento Cadastrados">
				<h:form id="listaApartamentos" acceptcharset="ISO-8859-1">
					<p:toolbar id="tb">
						<p:toolbarGroup align="left">
							<p:commandButton value="Novo Tipo de Apartamento"
								action="#{tipoApartamentoBean.novo}" ajax="false"
								icon="ui-icon-plus" />
							<p:separator />
						</p:toolbarGroup>
					</p:toolbar>
					<p:sticky target="tb" />
					<p />
					<p:dataTable value="#{tipoApartamentoBean.lista}" var="tipo_apartamento"
						lazy="true" widgetVar="widg" paginator="true" rows="10"
						rowIndexVar="rowIx"
						rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  
								 					{FirstPageLink} 
								 					{PreviousPageLink} 
								 					{PageLinks} 
								 					{NextPageLink} 
								 					{LastPageLink} 
								 					{RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15"
						filteredValue="#{tipoApartamentoBean.lista}"
						emptyMessage="Nenhum Registro Encontrado!">

						<p:column headerText="Id" filterBy="id"
							filterMatchMode="contains">
							<center>
								<h:outputText value="#{tipo_apartamento.id}" />
							</center>
						</p:column>
						<p:column headerText="Tipo" filterBy="descricao"
							filterMatchMode="contains">
							<center>
								<h:outputText value="#{tipo_apartamento.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Opções">
							<center>
								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{tipoApartamentoBean.editar}" icon="ui-icon-pencil" title="Editar">
										<f:setPropertyActionListener
											target="#{tipoApartamentoBean.tipo_apartamento}"
											value="#{tipo_apartamento}" />
										<f:setPropertyActionListener
											target="#{tipoApartamentoBean.tipo_apartamento}"
											value="#{tipo_apartamento}" />
									</p:commandButton>
								</sec:ifAnyGranted>

								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{tipoApartamentoBean.remover}" icon="ui-icon-trash"
										onclick="if (!confirm('Confirma a exclusão do tipo de Apartamento #{tipo_apartamento.descricao}?')) return false;"
										title="Excluir Tipo">
										<f:setPropertyActionListener
											target="#{tipoApartamentoBean.tipo_apartamento}"
											value="#{tipo_apartamento}" />
									</p:commandButton>
								</sec:ifAnyGranted>
							</center>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:decorate>
</h:body>
</html>