<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Lista de Vendas</title>
</h:head>
<body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<p:panel header="Vendas">
				<h:form id="listaVenda" acceptcharset="ISO-8859-1">
					<p:toolbar id="tb">
						<p:toolbarGroup align="left">
							<p:commandButton value="Vender"
								action="#{vendaBean.novo}" icon="ui-icon-document" ajax="false"/>
							<p:separator />
						</p:toolbarGroup>
					</p:toolbar>
					<p:sticky target="tb" />
					<p />
					<p:dataTable value="#{vendaBean.lista}" var="venda"
						widgetVar="widg" paginator="true" rows="10"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" filteredValue="#{vendaBean.lista}"
						emptyMessage="Nenhum Registro Encontrado!">
						<p:column headerText="Data" filterBy="data"
							filterMatchMode="contains">
							<center>
								<h:outputText value="#{venda.data}" >
									<f:convertDateTime dateStyle="medium"/>
								</h:outputText>
							</center>
						</p:column>
						<p:column headerText="Cliente" filterBy="cliente"
							filterMatchMode="contains">
							<center>
								<h:outputText value="#{venda.cliente.nome}" />
							</center>
						</p:column>
						<p:column headerText="Hospedagem">
							<center>
								<h:outputText value="#{venda.hospedagem.id}" />
							</center>
						</p:column>
						<p:column headerText="Total">
							<center>
								<h:outputText value="#{venda.total}" />
							</center>
						</p:column>
						<p:column headerText="Opções">
							<center>
								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{vendaBean.editar}" icon="ui-icon-pencil" title="Editar">
										<f:setPropertyActionListener target="#{vendaBean.venda}"
											value="#{venda}" />
									</p:commandButton>
								</sec:ifAnyGranted>

								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{vendaBean.remover}"
										onclick="if (!confirm('Confirma a exclusão da Venda #{venda.id}?')) return false;"
										title="Excluir Venda" icon="ui-icon-trash">
										<f:setPropertyActionListener target="#{vendaBean.venda}"
											value="#{venda}" />
									</p:commandButton>
								</sec:ifAnyGranted>
							</center>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:decorate>
</body>
</html>
