<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada - Fornecedores</title>
	<h:outputStylesheet library="css" name="estilo.css"/>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<p:panel header="Fornecedores Cadastrados">
				<h:form id="cadastroAgenda" acceptcharset="ISO-8859-1">
					<p:toolbar id="tb">
						<p:toolbarGroup align="left">
							<p:commandButton value="Novo Fornecedor"
								icon="ui-icon-plus" action="#{fornecedorBean.novo}"
								ajax="false" />
							<p:separator />
						</p:toolbarGroup>
					</p:toolbar>
					<p:sticky target="tb" />
					<p />
					<p:dataTable value="#{fornecedorBean.lista}" var="fornecedor"
						widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum registro encontrado" sortBy="id">
						<p:column headerText="Código" filterBy="id" filterMatchMode="contains" sortBy="id">
							<h:outputText value="#{fornecedor.id}" />
						</p:column>
						<p:column headerText="Razão" filterBy="razaoSocial" filterMatchMode="contains" sortBy="razaoSocial">
							<h:outputText value="#{fornecedor.razaoSocial}" />
						</p:column>
						<p:column headerText="Fantasia" filterBy="fantasia" filterMatchMode="contains" sortBy="fantasia">
							<h:outputText value="#{fornecedor.fantasia}" />
						</p:column>
						<p:column headerText="CNPJ" filterBy="fantasia" filterMatchMode="contains" sortBy="cnpj">
							<h:outputText value="#{fornecedor.cnpj}" filterBy="cnpj" filterMatchMode="contains"/>
						</p:column>
						<p:column headerText="e-mail" filterBy="email" filterMatchMode="contains" sortBy="email">
							<h:outputText value="#{fornecedor.email}" filterBy="email"  filterMatchMode="contains" />
						</p:column>
						<p:column headerText="rua" filterBy="endereco.rua" filterMatchMode="contains" sortBy="endereco.rua">
							<h:outputText value="#{fornecedor.endereco.rua}" />
						</p:column>
						<p:column headerText="Opções">
							<center>
								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{fornecedorBean.editar}" icon="ui-icon-pencil" title="Editar">
										<f:setPropertyActionListener
											target="#{fornecedorBean.fornecedor}" value="#{fornecedor}" />
										<f:setPropertyActionListener
											target="#{fornecedorBean.fornecedor}" value="#{fornecedor}" />
									</p:commandButton>
								</sec:ifAnyGranted>

								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{fornecedorBean.remover}"
										onclick="if (!confirm('Confirma a exclusão do Fornecedor #{fornecedor.id}?')) return false;"
										title="Excluir Fornecedor" icon="ui-icon-trash">
										<f:setPropertyActionListener
											target="#{fornecedorBean.fornecedor}" value="#{fornecedor}" />
									</p:commandButton>
								</sec:ifAnyGranted>
							</center>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:decorate>
</h:body>
</html>