<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada</title>
	<h:outputStylesheet library="css" name="estilo.css"/>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">

		<ui:define name="centro">

			<p:panel header="Transações Cadastradas">
				<h:form id="listaTransacoes" acceptcharset="ISO-8859-1">
					<p:toolbar id="tb">
						<p:toolbarGroup align="left">
							<p:commandButton value="Nova Transação"
								icon="ui-icon-plus" action="#{transacaoBean.novo}"
								ajax="false" />
							<p:separator />
						</p:toolbarGroup>
					</p:toolbar>
					<p:sticky target="tb" />
					<p />
					<p:dataTable value="#{transacaoBean.lista}"
						var="transacao" widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum Registro Encontrado!" sortBy="id">

						<p:column headerText="Código" filterBy="id" filterMatchMode="contains" sortBy="id">
							<center>
								<h:outputText value="#{transacao.id}" />
							</center>
						</p:column>
						<p:column headerText="Descrição" filterBy="descricao" filterMatchMode="contains" filterStyle="width: 200px" sortBy="descricao">
							<center>
								<h:outputText value="#{transacao.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Tipo" filterBy="tipo" filterMatchMode="contains" >
							<center>
								<h:outputText value="#{transacao.tipo}" style="width: 150px"  />
							</center>
						</p:column>
						<p:column headerText="Opções">
							<center>
								<sec:ifAnyGranted roles="ROLE_ADMIN">
									
									<p:commandButton action="#{transacaoBean.editar}" title="Editar" 
										disabled="#{transacaoBean.isDisable(transacao.id)}" icon="ui-icon-pencil">
										<f:setPropertyActionListener
											target="#{transacaoBean.transacao}"
											value="#{transacao}" />
									</p:commandButton>
								</sec:ifAnyGranted>

								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{transacaoBean.remover}" disabled="#{transacaoBean.isDisable(transacao.id)}" 
										onclick="if (!confirm('Confirma a exclusão da transação: #{transacao.descricao}?')) return false;"
										title="Excluir Transação" icon="ui-icon-trash">
										<f:setPropertyActionListener
											target="#{transacaoBean.transacao}"
											value="#{transacao}" />
									</p:commandButton>
								</sec:ifAnyGranted>
							</center>
						</p:column>

					</p:dataTable>
				</h:form>
			</p:panel>

		</ui:define>
	</ui:decorate>
</h:body>
</html>