<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title></title>
</h:head>
<body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<p:panel header="Compras">
				<h:form id="listaCompra" acceptcharset="ISO-8859-1">
					<p:growl id="messages" autoUpdate="true" showDetail="true" sticky="true" />
					<p:toolbar id="tb">
						<p:toolbarGroup align="left">
							<p:commandButton value="Entrada"
								action="#{compraBean.novo}" icon="ui-icon-document" ajax="false"/>
							<p:separator />
						</p:toolbarGroup>
					</p:toolbar>
					<p:sticky target="tb" />
					<p />
					<p:dataTable value="#{listaCompraBean.listaCompra}" var="compra"
						widgetVar="tableCompras" paginator="true" rows="10" id="tableCompras"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" filteredValue="#{listaCompraBean.listaCompra}"
						emptyMessage="Nenhum Registro Encontrado!" >
						
						<f:facet name="header">
							Compras Realizadas
						</f:facet>
						
						<p:column headerText="ID" filterBy="#{compra.id}" filterMatchMode="contains">
							<center>
								<h:outputText value="#{compra.id} " />
							</center>
						</p:column>
						
						<p:column headerText="Produto" filterBy="#{compra.produto.id}"
							filterMatchMode="exact">
							<center>
								<h:outputText value="#{compra.produto.id} - #{compra.produto.descricao}" />
							</center>
						</p:column>
						
						<p:column headerText="Data" filterBy="data"
							filterMatchMode="exact">
							<center>
								<h:outputText value="#{compra.data}" >
									<f:convertDateTime dateStyle="medium" />
								</h:outputText>
							</center>
						</p:column>
						
						<p:column headerText="Fornecedor" filterBy="fornecedor.id"
							filterMatchMode="exact">
							<center>
								<h:outputText value="#{compra.fornecedor.id} - #{compra.fornecedor.fantasia}" />
							</center>
						</p:column>
						<p:column headerText="Quantidade">
							<center>
								<h:outputText value="#{compra.quantidadeProduto}" />
							</center>
						</p:column>
						<p:column headerText="Opções">
							<center>
								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{compraBean.editar}" icon="ui-icon-pencil" title="Editar">
										<f:setPropertyActionListener target="#{compraBean.compra}"
											value="#{compra}" />
									</p:commandButton>
								</sec:ifAnyGranted>

								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:commandButton action="#{listaCompraBean.remover}" icon="ui-icon-trash" title="Excluir"
										onclick="if (!confirm('Confirma a exclusão da Compra #{compra.id}?')) return false;">
										<f:setPropertyActionListener target="#{listaCompraBean.compra}"
											value="#{compra}" />
									</p:commandButton>
								</sec:ifAnyGranted>
							</center>
						</p:column>
					</p:dataTable>
				</h:form>
			</p:panel>
		</ui:define>
	</ui:decorate>
</body>
</html>
