<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form>
				<div style="float: left; ">
					<p:commandButton actionListener="#{mapaBean.previousWeek()}" value="Anterior" update="map"/>
					<p:commandButton actionListener="#{mapaBean.nextWeek()}" value="Próximo" update="map"/>
					
					<p:commandButton value="Data atual" actionListener="#{mapaBean.dataAtual()}" update="map" style="margin-left:10px;"/>			
				</div>
				<div style="float: right;">
					<p:commandButton actionListener="#{mapaBean.atualizar()}" value="Atualizar" update="map"/>
				</div>	
				<div style="margin-top: 50px;">
					<p:dataTable value="#{mapaBean.mapaSemanal}" id="map"
						var="mapaSemanal" widgetVar="widg" paginator="true" rows="20"
						rowIndexVar="rowIx"
						rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15, 20"
						paginatorPosition="top"
						filteredValue="#{mapaBean.mapaSemanal}"
						emptyMessage="Nenhum Registro Encontrado!">
									
						<f:facet name="header">  
		            		Mapa Semanal de Reservas	  
		        		</f:facet>
		        		<p:column headerText="Apartamento">
		        			<center>
								<h:outputText value="#{mapaSemanal.apartamento_id}" />
							</center>
		        	 	</p:column>
		        		<p:column headerText="#{mapaBean.getDiaSemana(0)}">
		        			<center>
								<h:outputText value="#{mapaSemanal.getDias(0)}" />
							</center>
		        		</p:column>
		        		<p:column headerText="#{mapaBean.getDiaSemana(1)}">
		        			<center>
								<h:outputText value="#{mapaSemanal.getDias(1)}" />
							</center>
		        		</p:column>
		        		<p:column headerText="#{mapaBean.getDiaSemana(2)}">
		        			<center>
								<h:outputText value="#{mapaSemanal.getDias(2)}" />
							</center>
		        		</p:column>
		        		<p:column headerText="#{mapaBean.getDiaSemana(3)}">
		        			<center>
								<h:outputText value="#{mapaSemanal.getDias(3)}" />
							</center>
		        		</p:column>
		        		<p:column headerText="#{mapaBean.getDiaSemana(4)}">
		        			<center>
								<h:outputText value="#{mapaSemanal.getDias(4)}" />
							</center>
		        		</p:column>
		        		<p:column headerText="#{mapaBean.getDiaSemana(5)}">
		        			<center>
								<h:outputText value="#{mapaSemanal.getDias(5)}" />
							</center>
		        		</p:column>
		        		<p:column headerText="#{mapaBean.getDiaSemana(6)}">
		        			<center>
								<h:outputText value="#{mapaSemanal.getDias(6)}" />
							</center>
		        		</p:column>
					</p:dataTable>	
					</div>
			</h:form>	
		</ui:define>
	</ui:decorate>
</h:body>
</html>