<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Controle de Pousada</title>
	<style  type="text/css">
            html, body{
                margin:0px; padding:0px; font-family: arial; font-size: 8pt;
                background:#f5f5f5;
            }
            #conteudo{
                padding:20px;
                height:350px;
            }
            
            .prereserva{
                background: #996600 !important;
            }
            
            .reserva{
                background: #003399 !important;
            }
 
            .hospedagem{
                background: #006600 !important;
            }
 
        </style>        
        <script type="text/javascript">
                PrimeFaces.locales['pt'] = {  
                    closeText: 'Fechar',  
                    prevText: 'Anterior',  
                    nextText: 'Próximo',  
                    currentText: 'Começo',  
                    monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],  
                    monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun', 'Jul','Ago','Set','Out','Nov','Dez'],  
                    dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],  
                    dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb'],  
                    dayNamesMin: ['D','S','T','Q','Q','S','S'],  
                    weekHeader: 'Semana',  
                    firstDay: 1,  
                    isRTL: false,  
                    showMonthAfterYear: false,  
                    yearSuffix: '',  
                    timeOnlyTitle: 'Só Horas',  
                    timeText: 'Tempo',  
                    hourText: 'Hora',  
                    minuteText: 'Minuto',  
                    secondText: 'Segundo',  
                    currentText: 'Data Atual',  
                    ampm: false,  
                    month: 'Mês',  
                    week: 'Semana',  
                    day: 'Dia',  
                    allDayText : 'Todo Dia'  
                };  
        </script>        
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form>
				<h:messages />
				<p:schedule widgetVar="meucalendario" locale="pt" value="#{hospedagemBean.eventModel}">
			 		<p:ajax event="eventSelect" listener="#{hospedagemBean.onEventSelect}" 
			 				update="eventDetails" oncomplete="PF('eventDialog').show()" /> 
                </p:schedule>
                
                <p:dialog widgetVar="eventDialog" header="Detalhes" showEffect="explode" hideEffect="explode" >  
			        <h:panelGrid id="eventDetails" columns="2">  
			        	<h:outputLabel for="tipo" value="Tipo:" />  
			            <p:outputLabel  id="tipo" value="#{hospedagemBean.event.hospedagem.tipoHospedagem}" /> 
			            
			            <h:outputLabel for="title" value="Cliente:" />  
			            <p:outputLabel  id="title" value="#{hospedagemBean.event.hospedagem.nomeCliente}" /> 
			            
			            <h:outputLabel for="apart" value="Apartamento:" />  
			            <p:outputLabel  id="apart" value="#{hospedagemBean.event.hospedagem.apartamentoReservado}" />  
			            
			            <h:outputLabel for="data" value="Data Registro:" />  
			            <p:outputLabel  id="data" value="#{hospedagemBean.event.hospedagem.dataReserva}" >
			           		<f:convertDateTime pattern="dd/MM/yyyy" />  
			            </p:outputLabel>
			  
			            <h:outputLabel for="from" value="Checkin:" />  
			            <p:outputLabel id="from" value="#{hospedagemBean.event.startDate}">  
			            </p:outputLabel>  
			  
			            <h:outputLabel for="to" value="Checkout:" />  
			            <p:outputLabel id="to" value="#{hospedagemBean.event.endDate}">  
			            </p:outputLabel>
			            
			            <h:outputLabel for="vlr" value="Diária:" />  
			            <p:outputLabel id="vlr" value="#{hospedagemBean.event.hospedagem.valor}">  
			                <f:convertNumber currencyCode="BRL" type="currency" />  
			            </p:outputLabel>
			            
			            <h:outputLabel for="acomp" value="Nº Acompanhantes:" />  
			            <p:outputLabel id="acomp" value="#{hospedagemBean.event.hospedagem.acompanhantes}">  
			                <f:convertNumber pattern="##00" />  			               
			            </p:outputLabel>
			            
			            <h:outputLabel for="obs" value="Observações:" />  
			            <p:outputLabel id="obs" value="#{hospedagemBean.event.hospedagem.observacoes}"/>
			            			             
			        </h:panelGrid>  
			    </p:dialog>
                
			</h:form>
		</ui:define>
	</ui:decorate>
</h:body>
</html>