<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">
<h:head>
	<title>Controle de Pousada</title>
	<h:outputStylesheet library="css" name="estilo.css"/>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">

			<p:panel header="Saldo Estoque">
				<h:form id="saldoEstoque" acceptcharset="ISO-8859-1">
				
				<p:inputText id="codProduto" value="#{saldoEstoqueBean.produto.id}"/>
				<p:commandButton value="Novo Produto"
								icon="ui-icon-document" action="#{saldoEstoqueBean.saldoEstoque}"
								ajax="false" />
			    <p:inputText id="saldoProduto" value="#{saldoEstoqueBean.saldoEstoque}"/>
				

				
				
					
				</h:form>
			</p:panel>

		</ui:define>
	</ui:decorate>
</h:body>
</html>