<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle de Pousada</title>
	<style type="text/css">
html,body {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 8pt;
	background: #f5f5f5;
}

#conteudo {
	padding: 20px;
	height: 350px;
}

.prereserva {
	background: #996600 !important;
}

.reserva {
	background: #003399 !important;
}

.hospedagem {
	background: #006600 !important;
}
</style>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form>
				<!-- <p:growl id="messages" autoUpdate="true" showDetail="true" sticky="true" />  -->					
				<div id="left_main" style="width: 47%; float: left; margin-left: 2%;">
					<p:panel header="Hospedagem">
						<p:barChart value="#{mainBean.hospedagensChart}" legendPosition="w" />
						<center>
							<p:outputLabel value=" Total de Hóspedes:  #{hospedagemBean.totalDeHospedes}"></p:outputLabel>
						</center>
					</p:panel>
				</div>
				
				<div id="right_main" style="width: 47%; float: right; margin-right: 2%;">
					<p:panel header="Caixa">
						<p:barChart value="#{mainBean.caixaChart}" legendPosition="w" />
						<center>
							<p:outputLabel value=" Valor total(R$):  #{caixaBean.valorTotalCaixa}"></p:outputLabel>
						</center>
					</p:panel>
				</div>

			</h:form>
		</ui:define>
	</ui:decorate>
</h:body>
</html>