<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Controle Pousada</title>
</h:head>
<body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form id="venda" acceptcharset="ISO-8859-1">
				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="true" />
				<p:panel header="Venda">
					<h:panelGrid columns="4">
						<p:outputLabel for="cliente" value="Cliente :" />
						<p:inputText id="cliente" value="#{vendaBean.cliente.nome}" readonly="true" size="50" required="true"/>
						<p:watermark value="Clieque ao lado para adicionar" for="cliente" />
						<p:commandButton id="btnPesquisaCli" oncomplete="PF('lstCliente').show()" icon="pesquisa" />
						
						<p:outputLabel for="pagamento" value="Forma de Pagamento :" />
						<p:inputText id="pagamento" value="#{vendaBean.formaPagamento.descricao}" readonly="true" size="50" required="true"/>
						<p:watermark value="Clieque ao lado para adicionar" for="pagamento" />
						<p:commandButton id="btnPesquisaPag" oncomplete="PF('lstPagamento').show()" icon="pesquisa" />
						
						<p:outputLabel for="transacao" value="Transação: " />
						<p:inputText id="transacao" value="#{vendaBean.transacao.descricao}" readonly="true" size="50" required="true"/>
						<p:watermark value="Clieque ao lado para adicionar" for="transacao" />
						<p:commandButton id="btnPesquisaTra" oncomplete="PF('lstTransacao').show()" icon="pesquisa" />
					</h:panelGrid>
					<p></p>
					<p:accordionPanel>
						<p:tab title="Itens" >
							<h:panelGrid columns="7">
								<p:outputLabel for="prod" value="Produto :" />
								<p:inputText id="prod" value="#{vendaBean.produto.descricao}" readonly="true" size="50"/>
								<p:watermark value="Clieque ao lado para adicionar" for="prod" />
								<p:commandButton id="btnPesquisaPro" oncomplete="PF('lstProduto').show()" icon="pesquisa" />
								<p:outputLabel for="quantidade" value="Quantidade :" />
								<p:inputText id="quantidade" value="#{vendaBean.quantidade}" size="12"/>
								<p:commandButton id="btnAdd" action="#{vendaBean.add()}" value="Add" ajax="false"/>
							</h:panelGrid>
							<br />
							<p:dataTable value="#{vendaBean.venda.itensMovimento}" var="item"
								widgetVar="widg" paginator="true" rows="10"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
								rowsPerPageTemplate="5,10,15"
								emptyMessage="Nenhum item adicionado">
								<f:facet name="header">Itens Adicionados</f:facet>
								<p:column headerText="Código">
									<h:outputText value="#{item.produto.id}" />
								</p:column>
								<p:column headerText="Descrição">
									<h:outputText value="#{item.produto.descricao}" />
								</p:column>
								<p:column headerText="Preço">
									<h:outputText value="#{item.produto.preco}" />
								</p:column>
								<p:column headerText="Quantidade">
									<h:outputText value="#{item.quantidade}" />
								</p:column>
								<p:column headerText="Total" footerText="Total Itens: #{vendaBean.venda.total}">
									<h:outputText value="#{item.quantidade * item.produto.preco}" />
								</p:column>
								<p:column headerText="Opções">
									<center>
										<sec:ifAnyGranted roles="ROLE_ADMIN">
											<h:commandLink action="#{vendaBean.removerItem}"
												onclick="if (!confirm('Confirma a exclusão do item?')) return false;"
												title="Excluir Produto">
												<h:graphicImage library="imagens" name="excluir16.png"
													style="border:0" />
												<f:setPropertyActionListener target="#{vendaBean.item}"
													value="#{item}" />
											</h:commandLink>
										</sec:ifAnyGranted>
									</center>
								</p:column>
							</p:dataTable>
						</p:tab>
					</p:accordionPanel>
					<f:facet name="footer">
						<p:toolbar id="tb">
							<p:toolbarGroup align="center">
								<center>
									<p:commandButton value="Salvar" icon="ui-icon-disk"
										ajax="false" action="#{vendaBean.salvar}" update="venda" />
									<p:separator />
									<p:commandButton value="Cancelar" icon="ui-icon-trash"
										ajax="false" action="#{vendaBean.cancelar}" update="venda" />
								</center>
							</p:toolbarGroup>
						</p:toolbar>
						<p:sticky target="tb" />
					</f:facet>
				</p:panel>
			</h:form>
			
			<!-- Dialogs que devem ser alterados para um arquivo -->
			<h:form id="formDialogs">
				<!-- Dialog Cliente -->
				<p:dialog id="dlCliente" header="Selecione um Cliente"
					widgetVar="lstCliente" resizable="false" width="1020"
					showEffect="clip" hideEffect="fold">
					<p:dataTable value="#{clienteBean.lista}" var="cliente"
						widgetVar="clienteTable" filteredValue="#{clienteBean.lista}" emptyMessage="Nenhum registro encontrado" paginator="true"
						rows="5" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15">
						<p:column headerText="Nome" filterBy="nome"
							filterMatchMode="contains">
							<h:outputText value="#{cliente.nome}" />
						</p:column>
						<p:column headerText="Rg" filterBy="rg" filterMatchMode="contains">
							<h:outputText value="#{cliente.rg}" title="#{cliente.rg}" />
						</p:column>
						<p:column headerText="Cpf" filterBy="cpf"
							filterMatchMode="contains">
							<h:outputText value="#{cliente.cpf}" />
						</p:column>
						<p:column headerText="Opções">
							<center>
								<p:commandButton action="#{vendaBean.continuar}"
									value="Selecionar" ajax="false">
									<f:setPropertyActionListener
										target="#{vendaBean.cliente}" value="#{cliente}" />
								</p:commandButton>
							</center>
						</p:column>
					</p:dataTable>
				</p:dialog>
				
				<!-- Formas de Pagamento -->
				<p:dialog id="dlPagamento" header="Selecione uma Forma de Pagamento"
					widgetVar="lstPagamento" resizable="false" width="1020"
					showEffect="clip" hideEffect="fold">
					
					<p:dataTable value="#{formas_PagamentoBean.lista}"
						var="formas_pagamento" widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum Registro Encontrado!">

						<p:column headerText="Código" filterBy="id" filterMatchMode="contains">
							<center>
								<h:outputText value="#{formas_pagamento.id}" />
							</center>
						</p:column>
						<p:column headerText="Descrição" filterBy="descricao" filterMatchMode="contains" filterStyle="width: 500px">
							<center>
								<h:outputText value="#{formas_pagamento.descricao}" />
							</center>
						</p:column>
						<p:column headerText="Opções">
							<center>
								<p:commandButton action="#{vendaBean.continuar}"
									value="Selecionar" ajax="false">
									<f:setPropertyActionListener
										target="#{vendaBean.formaPagamento}" value="#{formas_pagamento}" />
								</p:commandButton>
							</center>
						</p:column>
					</p:dataTable>
				</p:dialog>
				
				<!-- Hospedagem -->
				<p:dialog id="dlHospedagem" header="Selecione uma Hospedagem"
					widgetVar="lstHospedagem" resizable="false" width="1020"
					showEffect="clip" hideEffect="fold">
					
					<p:dataTable value="#{vendaBean.listaHospedagensAbertas}"
						var="hospedagem" widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum Registro Encontrado!">

						<p:column headerText="Código" filterBy="id" filterMatchMode="contains">
							<center>
								<h:outputText value="#{hospedagem.id}" />
							</center>
						</p:column>
						<p:column headerText="Cliente" filterBy="cliente.nome" filterMatchMode="contains">
							<center>
								<h:outputText value="#{hospedagem.nomeCliente}" />
							</center>
						</p:column>
						<p:column headerText="Apartamento" filterBy="apartamento.numero_apartamento" filterMatchMode="contains">
							<center>
								<h:outputText value="#{hospedagem.apartamentoReservado}" />
							</center>
						</p:column>	
						<p:column headerText="Opções">
							<center>
								<p:commandButton action="#{vendaBean.continuar}"
									value="Selecionar" ajax="false">
									<f:setPropertyActionListener
										target="#{vendaBean.venda.hospedagem}" value="#{hospedagem}" />
								</p:commandButton>
							</center>
						</p:column>
					</p:dataTable>
				</p:dialog>
				
				<!-- Dialog Produtos -->
				<p:dialog id="dlProduto" header="Selecione um Produto"
					widgetVar="lstProduto" resizable="false" width="1020"
					showEffect="clip" hideEffect="fold">
					
					<p:dataTable value="#{produtoBean.lista}" var="produto"
						widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum registro encontrado">
						<p:column headerText="Código" filterBy="id" filterMatchMode="contains">
							<h:outputText value="#{produto.id}" />
						</p:column>
						<p:column headerText="Descrição" filterBy="descricao" filterMatchMode="contains">
							<h:outputText value="#{produto.descricao}" />
						</p:column>
						<p:column headerText="Preço" filterBy="preco" filterMatchMode="contains">
							<h:outputText value="#{produto.preco}" title="#{produto.preco}" />
						</p:column>
						<p:column headerText="Opções">
							<center>
								<p:commandButton action="#{vendaBean.continuar}"
									value="Selecionar" ajax="false">
									<f:setPropertyActionListener
										target="#{vendaBean.produto}" value="#{produto}" />
								</p:commandButton>
							</center>			
						</p:column>
					</p:dataTable>
					
				</p:dialog>
				<!-- Transacao -->
				<p:dialog id="TransacaoPesquisa" header="Pesquisa de Transações" widgetVar="lstTransacao" resizable="false"  
                              width="1020" showEffect="clip" hideEffect="fold">
                        <p:dataTable value="#{transacaoBean.transacoesCadastradas}" var="transacao"
						widgetVar="widg" paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}"
						paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15" emptyMessage="Nenhum registro encontrado" filteredValue="#{transacaoBean.transacoesCadastradas}">
						<p:column headerText="Código" filterBy="id" filterMatchMode="contains">
							<h:outputText value="#{transacao.id}" />
						</p:column>
						<p:column headerText="Descricao" filterBy="descricao" filterMatchMode="contains">
							<h:outputText value="#{transacao.descricao}" />
						</p:column>
						<p:column headerText="Tipo" filterBy="tipo" filterMatchMode="contains">
							<h:outputText value="#{transacao.tipo}" />
						</p:column>
						<p:column headerText="Opções">
							<center>
								<p:commandButton action="#{vendaBean.continuar}" value="Selecionar" ajax="false">
									<f:setPropertyActionListener target="#{vendaBean.transacao}"
									value="#{transacao}"/>
						   		</p:commandButton>
									
							</center>
						</p:column>
					</p:dataTable>
            </p:dialog>
			</h:form>
		</ui:define>
	</ui:decorate>
</body>
</html>
