html,body {
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 8pt;
	background: #f5f5f5;
}


img {
	border:0px;
}

icon {
	border:0px;
}


#container {
	width: 1200px;
	height: 100%;
	margin: 0 auto
}

#titulo {
	float: left;
	font-size: 25pt;
	font-variant: small-caps;
	font-weight: bold;
}

#barra_menu {
	min-height: 25px;
	padding: 3px;
	clear:both;
}

#corpo {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 300px;
}

#rodape {
	background: url(#{resource['imagens:rodape.png']}) repeat-x;
	height: 150px;
	margin-top: 5px;
	padding: 10px;
	text-align: center;
}



#espacoacimalogin {
	margin-top: 10px;
	margin-bottom: 10px;
	min-height: 100px;
}

#espacoacimaloginELogoOneTeam {
	margin-top: 0px;
	margin-bottom: 0px;
	min-height: 20px;
}


.info {
	font-weight: bold;
	color: green;
}

.warn {
	font-weight: bold;
	color: #FFCC00;
}

.fatal, .error {
	font-weight: bold;
	color: red;
}

.btn_adicionar_receita{
    background: #2ECC71 repeat !important;
    color:white !important;
    text-shadow: none !important;
}

.pesquisa{ 
	background-image: url(../resources/imagens/search.png) !important; 
}

.estoque{ 
	background-image: url(../resources/imagens/estoque.png) !important; 
}

.editar{ 
	background-image: url(../resources/imagens/editar16.png) !important; 
}

.excluir{ 
	background-image: url(../resources/imagens/excluir16.png) !important; 
}

.hospedagem{ 
	background-image: url(../resources/imagens/hospedagem.png) !important; 
}

#menu_esquerdo{
    width: 50px;
    background-color: #1B75A3;
    border-radius: 5px;
    height: 99%;
    max-height: 99%;
    min-height: 99%;
    margin-top: 0px;
    position: absolute;
    float: left;
}

#menu_esquerdo img{
    float: left;
    padding: 8px;
}

#menu_esquerdo img:hover{ 
    background-color:#0F415B; 
    border-radius: 5px;
}

.floatingLeft2{
	float: left; 
	z-index: 100; 
	margin-right: 2%;
}

.floatingRight2{
	float: right; 
	z-index: 100;
	margin-right: 2%;
}

.clear10{
	padding-bottom: 10px;
}

.ui-datatable .ui-datatable-data .rowAtivo td{  
  	background-color:#98FB98;    
   	color: black;  
} 