<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<h:head>
	<title>Erro</title>
	<f:facet name="last">
		<h:outputStylesheet library="css" name="tables.css" />
	</f:facet>
</h:head>
<body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form>
				<p:panel header="Ocorreu um erro no sistema!">
					<br />
	    			<h:outputText value="O seguinte erro ocorreu:" />
					<h:inputTextarea style="width: 100%;" rows="20" readonly="true"
						value="#{errorBean.getStackTrace()}" />
					<p:commandButton value="Reportar" icon="ui-icon-mail-closed"/>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:decorate>

</body>
</html>
