<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags">

<f:view contentType="text/html">
	<h:head>
		<h:outputStylesheet library="css" name="estilo.css" />
		<h:outputScript library="js" name="locale.js" />
		<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/imagens/favicon.ico"/>
		<f:facet name="first">
			<meta http-equiv="X-UA-Compatible" content="EmulateIE8" />
			<meta content='text/html; charset=UTF-8' http-equiv="Content-Type" />
			<title></title>
		</f:facet>

		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/default.css" />
		<link type="text/css" rel="stylesheet"
			href="#{request.contextPath}/css/syntaxhighlighter/syntaxhighlighter.css" />

		<style type="text/css">
			.ui-layout-north {
				z-index: 20 !important;
				overflow: visible !important;;
			}
			
			.ui-layout-north .ui-layout-unit-content {
				overflow: visible !important;
			}
			
			.companyHeaderGrid {
			    border: none;
			}
			
			.companyHeaderGrid2 {
			    border: none;
			    opacity:1;
				-moz-opacity: 1;
				filter: alpha(opacity=100);
			}
		</style>
	</h:head>

	<h:body>
		<p:layout fullPage="true">

			<p:layoutUnit id="left" position="west" size="54" resizable="false"
				collapsible="false" minSize="50" styleClass="companyHeaderGrid">
			<div id="menu_esquerdo">
				<h:form>	
					<p:commandLink action="#{mainBean.paginaPrincipal()}">
							<h:graphicImage library="imagens" name="menu/home.png" title="Início" />
					</p:commandLink>
					<p:commandLink action="#{listaHospedagemBean.abrir()}">
						<h:graphicImage library="imagens" name="menu/hotel.png" title="Hospedagens"/>
					</p:commandLink>
					<p:commandLink action="#{hospedagemBean.novo()}">
						<h:graphicImage library="imagens" name="menu/bed.png" title="Nova Hospedagem"/>
					</p:commandLink>
					<p:commandLink action="#{clienteBean.listaCliente()}">
						<h:graphicImage library="imagens" name="menu/users.png" title="Clientes"/>
					</p:commandLink>
					<p:commandLink action="#{caixaBean.novo()}">
						<h:graphicImage library="imagens" name="menu/money.png" title="Caixa"/>
					</p:commandLink>
					<p:commandLink action="#{vendaBean.novo()}">
						<h:graphicImage library="imagens" name="menu/cart.png" title="Vender"/>
					</p:commandLink>
					<p:commandLink action="#{compraBean.novo()}">
						<h:graphicImage library="imagens" name="menu/buy.png" title="Comprar"/>
					</p:commandLink>
					<p:commandLink action="#{configBean.pagConfiguracao()}">
						<h:graphicImage library="imagens" name="menu/settings.png" title="Configurações"/>
					</p:commandLink>
					<p:commandLink onclick="window.open('http://www.mkldev.com.br/index.php/suporte')" >
						<h:graphicImage library="imagens" name="menu/chat.png" title="Suporte"/>
					</p:commandLink>
					<p:commandLink action="#{aboutBean.paginaSobre()}">
						<h:graphicImage library="imagens" name="menu/about.png" title="Sobre o Sistema e MKL Developers"/>
					</p:commandLink>
					<p:commandLink onclick="PF('confirmaSaida').show()">
						<h:graphicImage library="imagens" name="menu/exit.png" title="Sair"/>
					</p:commandLink>
				</h:form>
			</div>	
			</p:layoutUnit>


			<p:layoutUnit id="center" position="center" styleClass="companyHeaderGrid">
				<div>
					<h:form>
						<p:menubar autoDisplay="false">
							<p:submenu label="Sistema">
								<p:menuitem value="Início"
									action="#{mainBean.paginaPrincipal()}" />
								<p:separator />
								<p:menuitem value="Sair" onclick="PF('confirmaSaida').show()" />
							</p:submenu>
							<p:submenu label="Cadastros">
								<p:menuitem value="Apartamentos"
									action="#{apartamentosBean.listaApartamentos()}" />
									<p:menuitem value="Tipos Apartamento"
									action="/pages/user/listaTipoApartamento.xhtml?faces-redirect=true" />
								<p:menuitem value="Clientes"
									action="#{clienteBean.listaCliente()}" />
								<p:menuitem value="Formas de Pagamento"
									action="#{formas_PagamentoBean.listaFormasPagamento()}" />
								<p:menuitem value="Fornecedores"
									action="#{fornecedorBean.listaFornecedores()}" />
								<p:menuitem value="Produtos"
									action="#{produtoBean.listaProdutos()}" />
								<p:menuitem value="Transações"
									action="#{transacaoBean.listaTransacoes()}" />
								<sec:ifAnyGranted roles="ROLE_ADMIN">
									<p:menuitem value="Usuários"
										action="#{userBean.listaUsuarios()}" />
								</sec:ifAnyGranted>
							</p:submenu>
							<p:submenu label="Caixa">
								<p:menuitem value="Abertura / Fechamento"
									action="#{caixaBean.novo()}" />
								<p:separator />
								<p:menuitem value="Lançamentos"
									action="#{lancamentoBean.listaLancamentos()}" />
								<p:menuitem value="Caixas Anteriores"
									action="#{caixaBean.listaCaixas()}" />
							</p:submenu>

							<p:submenu label="Hospedagem">
								<p:menuitem value="Lista de Hospedagens"
									action="#{listaHospedagemBean.abrir()}" />
								<p:menuitem value="Nova Hospedagem"
									action="#{hospedagemBean.novo()}" />
								<p:separator />
								<p:menuitem value="Mapa de Reservas"
									url="/pages/user/mapaReservas.xhtml" />
								<p:menuitem value="Mapa Semanal"
									url="/pages/user/mapaSemanal.xhtml" />
							</p:submenu>

							<p:submenu label="Entradas/Saídas">
								<p:menuitem value="Lista de Vendas"
									url="#{vendaBean.listaVendas()}" />
								<p:menuitem value="Realizar Venda"
									action="#{vendaBean.novo()}" />
								<p:separator />
								<p:menuitem value="Lista de Compras"
									action="#{compraBean.listaCompras()}" />
								<p:menuitem value="Realizar Entrada"
									action="#{compraBean.novo}" />
							</p:submenu>

							<p:submenu label="Configurações">
								<p:menuitem value="Sistema"
									action="#{configBean.pagConfiguracao()}" />
							</p:submenu>
						</p:menubar>
					</h:form>
				</div>

				<br />
				<div >
					<center>
						<ui:insert name="centro">
		                	O que estiver aqui será substituido!
		                </ui:insert>
	                </center>
                </div>
			</p:layoutUnit>

		</p:layout>
		
		<p:confirmDialog id="confirmacaoSaida" message="Voce deseja realmente sair do Sistema?" header="Confirmação" severity="alert" widgetVar="confirmaSaida">    
        <h:form>
        <center>	
        	<p:commandButton id="confirmaBtn" value="Sim" oncomplete="confirmaSaida.hide()"    
                    action="#{authenticator.logout}" >       
        	</p:commandButton>  
        	<p:commandButton id="recusaBtn" value="Não" onclick="confirmaSaida.hide()"/>     
		</center>
		</h:form>
		</p:confirmDialog>  

	</h:body>

</f:view>
</html>