<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> <!-- (1) -->
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="titulo">Sistema de Pousada</ui:insert></title> <!-- (2) -->
	<h:outputStylesheet library="css" name="estilo.css"/>
	<style type="text/css"><!--
	#logotipo {
		text-align: right; 
		float: right;
	} -->
    </style>  
    
</h:head>
<h:body>
	<div id="container">
		<div id="titulo">
			<ui:insert name="titulo">iPousada</ui:insert><!-- (4) -->  
		</div>
		<div id="logotipo">
			 <h:graphicImage library="imagens" name="/dock/bed.png"/> 
		</div>
		<div id="barra_menu">
	    	<ui:insert name="barra_menu">
	    		 <ui:include src="/restrito/menu_sistema.xhtml"/>
	   		</ui:insert>  
		</div>
		<div id="corpo">
			<ui:insert name="corpo"/>
		</div>
		<div id="rodape">
	    	<ui:insert name="rodape">
	    		<!--  <ui:include src="/publico/rodape.xhtml"/>-->
	    	</ui:insert> 
		</div>
	</div>
</h:body>
</html>