<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"> <!-- (1) -->
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title><ui:insert name="titulo">Sistema</ui:insert></title> <!-- (2) -->
	<h:outputStylesheet library="css" name="estiloL.css"/>
	<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/imagens/favicon.ico"/>
	<h:outputStylesheet library="css" name="bootstrap.css"/>
	<style type="text/css"><!--
	#logotipo {
		text-align: right; 
		float: right;
	} -->
    </style>

</h:head>
<h:body>
	<div id="wrapper">
		<div id="backgroudlogin">
				<ui:insert name="backgroudlogin"/>
		
		</div>
		<div id="espacoacimaloginELogoOneTeam">
		
		</div>
		<div id="logotipoMKL">
 
		</div>

	</div>
	<div class="gradient"></div>
	<a href="http://www.mkldev.com.br" class="download">MKL Developers</a>
</h:body>
</html>