<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<ui:composition>
	<h:form id="menu">
		<p:growl id="messages" />
		<p:tabMenu autoDisplay="false">
			<p:menuitem value=" Home " url="../successfulPage.jsf" />
			<p:menuitem value="Usuários" url="../admin/cadastroUsuarios.jsf" />
			<p:menuitem value="Clientes" url="../admin/listaCliente.jsf" />
			<p:menuitem value="Apartamentos" url="../user/listaApartamentos.jsf" />
			<p:menuitem value="Produtos" url="../user/listaProduto.jsf" />			
		</p:tabMenu>
	</h:form>
</ui:composition>
</html>