<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Controle de Pousada</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
	
		<ui:define name="centro"> 	
    	<h:form id="cadastro_usuarios" acceptcharset="ISO-8859-1">  
    		<p:focus context="cadastro_usuarios"/> 
    		<p:messages id="messagensErro" showSummary="false" showDetail="true" autoUpdate="true" closable="true" />    	 	
    		<p:panel header="Cadastro de Usuários">   
	        	<h:panelGrid columns="2">   
	    			<p:outputLabel for="nome_usuario" value="Nome: "/>
	    			<p:inputText id="nome_usuario" value="#{userBean.user.username}" required="true"/>
	    			
	    			<p:outputLabel for="senha" value="Senha: "/>
	    			<p:inputText type="password" id="senha" value="#{userBean.user.password}"
	    				required="true" requiredMessage="Atenção! Campo Senha Obrigatório"/>
	    			
	    			<p:outputLabel for="confirmacao" value="Confirmação: "/>
	    			<p:inputText type="password" id="confirmacao" value="#{userBean.confirmacaoSenha}"
	    				required="true" requiredMessage="Atenção! Campo Confirma Senha Obrigatório!">
	    				<p:ajax event="blur" update=":cadastro_usuarios:messagensErro" listener="#{userBean.verificaSenha}"/>
	    			</p:inputText>
	    			
	    			<p:outputLabel for="permissao" value="Tipo de Usuario: "/>
	    			<p:selectOneMenu id="permissao" value="#{userBean.roleSelecionada}" style="width: 158px" >
			            <f:selectItems value="#{userBean.permissoes}" />    
			        </p:selectOneMenu>		
	    					        	
	        	</h:panelGrid> 
	        	<f:facet name="footer">
		        		<p:toolbar id="tb"> 
			        		<p:toolbarGroup align="center"> 	
			        			<center>		        		
					     			<p:commandButton value="Salvar" ajax="false" action="#{userBean.salvar}" update="cadastro_usuario" icon="ui-icon-disk"/>
					     			<p:separator /> 
					     			<p:commandButton value="Cancelar" immediate="true" ajax="false" action="#{userBean.cancelar}" update="cadastro_usuario" icon="ui-icon-trash"/>
				     			</center>
			     			</p:toolbarGroup> 
		     			</p:toolbar>
		     			<p:sticky target="tb" />  
	        		</f:facet>         		
			</p:panel>
    	</h:form>
    </ui:define>
    </ui:decorate>
</h:body>
</html>