<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Configuração</title>
</h:head>
<h:body>

	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form>
				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="true" />
			</h:form>
		</ui:define>

	</ui:decorate>
	<p:layout fullPage="true">
		<p:layoutUnit position="center">
			<ui:insert name="centro_conf">
	                   O que estiver aqui será substituido!
	        </ui:insert>
		</p:layoutUnit>
	</p:layout>
</h:body>
</html>