<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:sec="http://www.springframework.org/security/facelets/tags"
	xmlns:stella="http://stella.caelum.com.br/faces2">

<h:head>
	<title>Configurações Gobais</title>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
		<ui:define name="centro">
			<h:form>
				<p:messages id="messages" showDetail="true" autoUpdate="true"
					closable="true" />

				<p:panel header="Configurações Globais" >
					<h:panelGrid columns="2">
						<p:outputLabel for="razao" value="Razão Social: " />
						<p:inputText id="razao"
							value="#{fornecedorBean.fornecedor.razaoSocial}" />
						<p:outputLabel for="fantasia" value="Fantasia: " />
						<p:inputText id="fantasia"
							value="#{fornecedorBean.fornecedor.fantasia}" />
						<p:outputLabel for="cnpj" value="CNPJ: " />
						<p:inputMask id="cnpj" value="#{fornecedorBean.fornecedor.cnpj}"
							mask="99.999.999/9999-99">
							<stella:validateCNPJ formatted="true" />
						</p:inputMask>
						<p:outputLabel for="inscricao" value="Escrição Estadual: " />
						<p:inputMask id="inscricao"
							value="#{fornecedorBean.fornecedor.inscricaoEstadual}"
							mask="99.999999-9" />
						<p:outputLabel for="telefone" value="Telefone: " />
						<p:inputMask id="telefone"
							value="#{fornecedorBean.fornecedor.telefone}"
							mask="(99) 9999-9999" />
						<p:outputLabel for="email" value="E-mail: " />
						<p:inputText id="email"
							value="#{fornecedorBean.fornecedor.email}" />
					</h:panelGrid>
				</p:panel>
			</h:form>
		</ui:define>
	</ui:decorate>
</h:body>
</html>
