<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/facelets/tags"
      xmlns:stella="http://stella.caelum.com.br/faces2">

    <h:head>
        <title>Configurações</title>
    </h:head>
    <h:body>
        <ui:decorate template="/pages/padrao.xhtml">
            <ui:define name="centro">
                <h:form id="geral">
                    <p:panel header="Configurações Globais">
                        <p:growl id="growl" showDetail="true" sticky="false" life="3000"/>
                        <p:tabView id="tabView">

                            <p:tab id="tabela1" title="Empresa">

                                <h:panelGrid columns="4" cellpadding="5">
                                    <p:outputLabel value="Razão Social" />
                                    <p:inputText id="rs"
                                                 value="#{configuracaoBean.estabelecimento.razaoSocial}" />
                                    <p:outputLabel value="Nome Fantasia" />
                                    <p:inputText id="nm"
                                                 value="#{configuracaoBean.estabelecimento.fantasia}" />
                                    <p:outputLabel value="CNPJ" />
                                    <p:inputMask id="cnpj"
                                                 value="#{configuracaoBean.estabelecimento.cnpj}"
                                                 mask="99.999.999/9999-99">
                                        <stella:validateCNPJ formatted="true" />
                                    </p:inputMask>
                                    <p:outputLabel value="Inscrição Estadual" />
                                    <p:inputText id="ie"
                                                 value="#{configuracaoBean.estabelecimento.ie}" />
                                    <p:outputLabel value="Inscrição Municipal" />
                                    <p:inputText id="im"
                                                 value="#{configuracaoBean.estabelecimento.im}" />
                                    <p:outputLabel value="Telefone" />
                                    <p:inputMask id="tel"
                                                 value="#{configuracaoBean.estabelecimento.telefone}"
                                                 mask="(99) 9999-9999" />
                                    <p:outputLabel value="Fax" />
                                    <p:inputMask id="fax"
                                                 value="#{configuracaoBean.estabelecimento.fax}"
                                                 mask="(99) 9999-9999" />
                                    <p:outputLabel value="Email" />
                                    <p:inputText id="email"
                                                 value="#{configuracaoBean.estabelecimento.email}" />
                                </h:panelGrid>
                                <p:accordionPanel>
                                    <p:tab title="Endereço">
                                        <h:panelGrid columns="4" cellpadding="10">
                                            <p:outputLabel value="Rua: " />
                                            <p:inputText id="rua"
                                                         value="#{configuracaoBean.estabelecimento.endereco.rua}" />
                                            <p:outputLabel value="Número: " />
                                            <p:inputText id="numero"
                                                         value="#{configuracaoBean.estabelecimento.endereco.numero}" />
                                            <p:outputLabel value="Bairro: " />
                                            <p:inputText
                                                value="#{configuracaoBean.estabelecimento.endereco.bairro}" />
                                            <p:outputLabel value="Complemento: " />
                                            <p:inputText
                                                value="#{configuracaoBean.estabelecimento.endereco.complemento}" />
                                            <p:outputLabel value="CEP: " />
                                            <p:inputMask
                                                value="#{configuracaoBean.estabelecimento.endereco.cep}"
                                                mask="99999-999" />
                                            <p:outputLabel value="Cidade: " />
                                            <p:inputText id="cidade"
                                                         value="#{configuracaoBean.estabelecimento.endereco.cidade}" />
                                            <p:outputLabel value="UF: " />
                                            <p:inputText
                                                value="#{configuracaoBean.estabelecimento.endereco.uf}"
                                                size="2" maxlength="2" />
                                        </h:panelGrid>
                                        <p />
                                    </p:tab>
                                </p:accordionPanel>
                                <h:panelGrid columns="2" cellpadding="5">
                                    <p:commandButton value="Salvar" icon="ui-icon-disk"
                                                     actionListener="#{configuracaoBean.salvarEstabelecimento}" update=":geral:growl">

                                    </p:commandButton>
                                    <p:commandButton value="Cancelar" icon=" ui-icon-closethick"
                                                     action="#{configuracaoBean.cancelar}">

                                    </p:commandButton>
                                </h:panelGrid>
                            </p:tab>

                            <p:tab id="tabela2" title="Sistema">
                                <h:panelGrid columns="2" cellpadding="5">
                                    <p:outputLabel value="Horário inicio hospedagem" />
                                    <p:calendar
                                        value="#{configuracaoBean.config.horaInicioHospedagem}"
                                        pattern="HH:mm" timeOnly="true" showOn="button" />
                                    <p:outputLabel value="Tolerância hospedagem: " />
                                    <p:calendar id="tl"
                                                value="#{configuracaoBean.config.toleranciaHospedagem}"
                                                pattern="HH:mm" timeOnly="true" showOn="button" />
                                    <h:outputText value="Calcula Meia Hospedagem: " />
                                    <p:selectBooleanButton
                                        value="#{configuracaoBean.config.calculaMeiaHospedagem}"
                                        onLabel="Sim" offLabel="Não" />
                                </h:panelGrid>
                                <div style="margin-top: 30px;">
                                    <center>
                                        <p:commandButton value="Salvar" icon="ui-icon-disk"
                                                         actionListener="#{configuracaoBean.salvarConfig}" update=":geral:growl">

                                        </p:commandButton>

                                        <p:commandButton value="Cancelar" icon=" ui-icon-closethick"
                                                         action="#{configuracaoBean.cancelar}">

                                        </p:commandButton>
                                    </center>
                                </div>
                            </p:tab>
                        </p:tabView>
                    </p:panel>
                </h:form>
            </ui:define>
        </ui:decorate>
    </h:body>
</html>
