<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:sec="http://www.springframework.org/security/facelets/tags" >

<h:head>
	<title>Controle de Pousada</title>
	<h:outputStylesheet library="css" name="estilo.css"/>
</h:head>
<h:body>
	<ui:decorate template="/pages/padrao.xhtml">
	
		<ui:define name="centro"> 	
    	 	
    		<p:panel header="Usuários Cadastrados" >
			<h:form id="listaUsuarios" acceptcharset="ISO-8859-1">
				<p:toolbar id="tb">
					<p:toolbarGroup align="left"> 
						<p:commandButton value="Novo Usuario" action="#{userBean.novo}" ajax="false" icon="ui-icon-plus"/>
						<p:separator /> 
					</p:toolbarGroup>
				</p:toolbar>  
				<p:sticky target="tb" /> <p/>
	        	<p:dataTable value="#{userBean.lista}" var="user" widgetVar="widg"
	        	 paginator="true" rows="10" rowIndexVar="rowIx" rowStyleClass="#{rowIx mod 2 eq 0 ? 'even-row' : 'odd-row'}" 
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="5,10,15"> 
                 	
                 	<p:column headerText="Código">
			        <center>
			        	<h:outputText value="#{user.id}" />
			        </center>	
		        	</p:column> 
	        		<p:column headerText="Usuário">
	        		<center>
	        			<h:outputText value="#{user.username}" />
	        		</center>	
	        		</p:column>	    

	        		<!-- <p:column headerText="Capacidade">
	        		<center>
	        			<h:outputText value="#{apartamento.capacidade}"/>
	        		</center>	
	        		</p:column>    	
	        		<p:column headerText="Valor Diária">
	        		<center>
	        			<h:outputText value="#{apartamento.valor_diaria}"/>
	        		</center>	
	        		</p:column>  
	        		<p:column headerText="Descrição">
	        		<center>
	        			<h:outputText value="#{apartamento.descricao}"/>
	        		</center>	
	        		</p:column>  -->
	        		<p:column headerText="Opções">
	        		<center>
	        			<sec:ifAnyGranted roles="ROLE_ADMIN">
						<p:commandButton action="#{userBean.editar}" icon="ui-icon-pencil" title="Editar">
							<f:setPropertyActionListener target="#{userBean.user}"
								value="#{user}" />
							<f:setPropertyActionListener
								target="#{userBean.user}" value="#{user}" />
							</p:commandButton>
						</sec:ifAnyGranted>
		        			
	        			<sec:ifAnyGranted roles="ROLE_ADMIN">
						<p:commandButton action="#{userBean.remover}"
							onclick="if (!confirm('Confirma a exclusão do Usuário #{user.username}?')) return false;"
							title="Excluir Usuário" icon="ui-icon-trash">
							<f:setPropertyActionListener target="#{userBean.user}"
								value="#{user}" />
						</p:commandButton>
					</sec:ifAnyGranted>
	        		</center>	
	        		</p:column>
	        		
	        	</p:dataTable> 
	        	
	        </h:form>       		
			</p:panel>
    
      </ui:define>
  </ui:decorate>
</h:body>
</html>